{% extends "base.html" %}
{% block head_title %}DCCAEP | Citizenship Verification{% endblock head_title %}
{% block content %}
<div class="container">
    <div class="row">
        <div class="col-md-8 col-md-offset-2">
            <h2 class="text-center">Thank you for your interest in Delgado AEP!</h2>
            
            <div class="panel panel-info" style="margin-top: 30px;">
                <div class="panel-heading">
                    <h4><span class="glyphicon glyphicon-map-marker"></span> We're located at Delgado City Park Campus:</h4>
                </div>
                <div class="panel-body">
                    <ul>
                        <li>(615 City Park Ave.) in Building 7, Marvin Thames Hall, Room 170.</li>
                        <li>We're open Monday-Thursday 8AM-4PM and Friday 9AM-1PM.</li>
                    </ul>
                </div>
            </div>

            <div class="panel panel-warning" style="margin-top: 20px;">
                <div class="panel-heading">
                    <h4><span class="glyphicon glyphicon-exclamation-sign"></span> Important Steps for Applicants with Additional Documentation Requirements</h4>
                </div>
                <div class="panel-body">
                    <p>Since you indicated you are not able to provide a Social Security Number (SSN), you will need to complete a few steps to finalize your enrollment in our program:</p>
                    
                    <div class="alert alert-danger">
                        <h4><strong>State law requires proof of legal immigration to qualify for program services.</strong></h4>
                    </div>

                    <h5><strong>1. You will need the most recent documentation from the government supporting that you have one of the following statuses:</strong></h5>
                    <ul>
                        <li>Lawful Permanent Residents (Green Card Holders)</li>
                        <li>Asylees</li>
                        <li>Refugees</li>
                        <li>Paroled into the U.S. for at Least One Year</li>
                        <li>Withholding of Deportation or Removal</li>
                        <li>Conditional Entrants (Before April 1, 1980)</li>
                        <li>Cuban or Haitian Entrants</li>
                        <li>Citizens of the Freely Associated States</li>
                    </ul>
                    
                    <div class="alert alert-warning">
                        <strong>No other documentation statuses are allowed (Work Visa, Tourist Visa, etc.)</strong>
                    </div>

                    <h5><strong>2. Come to the Office at the City Park Campus with your documentation during business hours for staff to verify your eligibility.</strong></h5>
                    <p>Once all of the required documentation has been received and is approved, we can move forward with the enrollment process.</p>
                </div>
            </div>

            <div class="panel panel-success" style="margin-top: 20px;">
                <div class="panel-heading">
                    <h4><span class="glyphicon glyphicon-list-alt"></span> What to expect next:</h4>
                </div>
                <div class="panel-body">
                    <ol>
                        <li>You will bring your identification to our office.</li>
                        <li>You will register for the program.</li>
                        <li>You will attend an orientation and testing event.</li>
                        <li>Then you will start classes.</li>
                    </ol>
                </div>
            </div>

            <div class="well text-center" style="margin-top: 30px;">
                <p><strong>If you have any questions, please don't hesitate to contact us. We look forward to helping you achieve your educational goals!</strong></p>
                <p><span class="glyphicon glyphicon-phone"></span> Call us: 504-671-5434</p>
            </div>
        </div>
    </div>
</div>
{% endblock content %}