{% extends "base.html" %}
{% load crispy_forms_tags %}
{% block head_title %}DCCAEP | Signup{% endblock head_title %}
{% block content %}
<div class="well">
    <form method="post">
        {% csrf_token %}
            {% crispy form %}
        <button class="btn btn-success btn-lg center-block" type="submit" value="Submit">Register</button>
    </form>
</div>
<h3>Submitting this form will redirect you to the LCTCS website. You must complete LCTCS registration to enter the program.</h3>
{% endblock content %}