{% extends "base.html" %}
{% block head_title %}DCCAEP | Elearn Success{% endblock head_title %}
{% block content %}
 <div>
        <h1>Success!</h1>
        <p class="lead">You're successfully completed the Delgado Adult Education Program registration form for online classes!</p>
        <p>New classes start every month, so we will be in touch via email in the next few weeks with details on how to get started. Be sure to check the email address you just submitted for more information.</p>
        <p>If you have any questions before that we can be reached at <a href:"mailto:apply@elearnclass.org">apply@elearnclass.org</a></p>
        <p>See ya online!</p>
    </div> 
{% endblock content %}