<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<!-- If you delete this meta tag, Half Life 3 will never be released. -->
<meta name="viewport" content="width=device-width" />

<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<title>Delgado eLearn</title>
    
<link rel="stylesheet" type="text/css" href="stylesheets/email.css" />

</head>
 
<body bgcolor="#FFFFFF">

<!-- BODY -->
<table class="body-wrap">
    <tr>
        <td></td>
        <td class="container" bgcolor="#FFFFFF">

            <div class="content">
            <table>
                <h1>Success!</h1>
                <p class="lead">You're successfully completed the Delgado Adult Education Program registration form for online classes!</p>
                <p>New classes start every month, so we will be in touch via email in the next few weeks with details on how to get started. Be sure to check the email address you just submitted for more information.</p>
                <p>If you have any questions before that we can be reached at <a href="mailto:apply@elearnclass.org">apply@elearnclass.org</a></p>
                <p>See ya online!</p>
            </table>
            </div><!-- /content -->
                                    
        </td>
        <td></td>
    </tr>
</table><!-- /BODY -->

</body>
</html>