<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<!-- If you delete this meta tag, Half Life 3 will never be released. -->
<meta name="viewport" content="width=device-width" />

<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<title>Delgado eLearn</title>
    
<link rel="stylesheet" type="text/css" href="stylesheets/email.css" />

</head>
 
<body bgcolor="#FFFFFF">

<!-- BODY -->
<table class="body-wrap">
    <tr>
        <td></td>
        <td class="container" bgcolor="#FFFFFF">

            <div class="content">
            <table>
                <tr>
                    <td>
                        <h3>What's next?</h3>
                        <p>Please note that eLearn is a bit different than taking classes on campus. In order to join the online program, there are a few more steps you'll need to complete to finish your application to eLearn in Adult Education at Delgado.</p>
                        <p>We are growing quickly and we hope to welcome all students. But the program is popular and we therefore can't guarantee that everyone will be accepted. So take your time reading this page so you understand what to expect next.</p>
                        <h3>The eLearn application process</h3>
                        <ol>
                            <li>
                                <p><strong>Apply online</strong> - This is the form that you've already submitted including your name and contact information.</p>
                            </li>
                            <li>
                                <p><strong>Submit digital literacy tests</strong> - The second step is to take a few digital literacy tests. Since the eLearn classes will be taken entirely online, it's important that you have the basic computer skills needed to succeed with online learning.</p>
                                <p>These digital literacy tests will be emailed to you on Friday, August 25th. So check your inbox then. We will send the email to the same address you used during the online application.</p>
                                <p>Then, follow the directions in the email to complete the second stage of the application process.</p></li>
                            <li>
                                <p><strong>Check your inbox</strong>- On Friday, September 1st, we will email all students with the status of the application. Your status could be:</p>
                                <p>
                                <ul class="large-offset-3">
                                    <li><strong>Accepted</strong> - If you are accepted, we will send you a link to sign-up for an Orientation session at our City Park Campus.</li>
                                    <li><strong>On Hold</strong> - If we receive a large amount of applications, you may be placed on hold until we can schedule more Orientation sessions.</li>
                                    <li><strong>Not Accepted</strong> - If you aren't accepted, we will email you with an explanation why and other options you still have for starting classes soon! If you aren't accepted, that's okay! You can always apply again during the next application period.</li>
                                </ul>
                                </p>
                            </li>
                            <p>The best thing to do for now is re-read this page to make sure you understand the full eLearn application process, and then check your inbox for more instructions coming soon!</p>
                            <p>And to learn more about eLearn and the application process, <a href="https://www.youtube.com/watch?v=OKV3vymssSA">check out this video!</a></p>
                        </ol>               
                    </td>
                </tr>
            </table>
            </div><!-- /content -->
                                    
        </td>
        <td></td>
    </tr>
</table><!-- /BODY -->

</body>
</html>