{% extends "base.html" %}
{% block head_title %}DCCAEP{% endblock head_title %}
{% block content %}

<h4>FERPA & STUDENT RECORDS</h4>

<h4>STUDENT RECORDS, PRIVACY</h4>
<p>The Family Educational Rights and Privacy Act (FERPA) affords parents and students over 18 years of age certain rights with respect to the student’s education records.</p> 
 
<h4>ACCESS TO RECORDS</h4>
<p>The student, parent, or legal guardian will have access to student records upon written request to the Adult Education Program office.</p>
 
<h4>RELEASE OF INFORMATION</h4>
<p>To release student records to other schools or school systems in which the student intends to enroll, the parents, legal guardian or the student, if he/she is 18 or over, must be notified of the transfer and the kinds of information being released. They shall receive a copy of such information if it is requested in writing and shall have the opportunity to challenge that record as described above.</p>
 
<p>Those data may be released to State education and other governmental agencies only if the names and all identifying markings are removed to prevent the identification of individuals.</p>
 
<p>To release student records to other persons or agencies, written consent shall be given by the parent, legal guardian, or the student if he/she is 18 or over. Such consent form shall state which records shall be released, to whom they shall be released, and the reason for the release. A copy of the student record being sent shall be made available to the person signing the release forms if he/she so desires.</p>
 
<p>Student records shall be furnished in compliance with judicial orders, or pursuant to any lawfully issued subpoena if the parents, legal guardian, and students are notified in advance.</p>
 
<p>All authorizations for release of information shall be filed in the student’s administrative folder.</p>

{% endblock content %}