{% extends "base.html" %}
{% load crispy_forms_tags %}
{% block head_title %}DCCAEP | Prospect {{prospect}}{% endblock head_title %}
{% block content %}
    <div>
      <h1>Prospect Record for {{prospect}}</h1>
      <a type='button' class="btn btn-default" href="{% url 'people:edit prospect' pk=prospect.pk %}">Update</a>
    </div>
    <div class='col-md-7'>
      <table class='table'>
        <tr>
          <td>Student</td>
          {% if prospect.student is not None %}
          <td><a href="{% url 'people:student detail' slug=prospect.student.slug %}">{{prospect.student}}</a></td>
          {% else %}
          <td>No linked student</td>
          {% endif %} 
        </tr>
        <tr>
          <td>Intake Date</td>
          <td>{{ prospect.registration_date }}</td>
        </tr>
        <tr>
          <td>Birthday</td>
          <td>{{ prospect.dob }}</td>
        </tr>
        <tr>
          <td>Native Language</td>
          <td>{{ prospect.primary_language }}</td>
        </tr>
        <tr>
          <td>Preferred Mode of Contact</td>
          <td>{{ prospect.contact}}</td>
        </tr>
        <tr>
          <td>Email</td>
          <td>{{ prospect.email }}</td>
        </tr>
        <tr>
          <td>Phone Number</td>
          <td>{{ prospect.phone }}</td>
        </tr>
        
        <tr>
          <td><a type='button' class="btn btn-default" href="{% url 'people:prospect link student' pk=prospect.pk %}">Link Student</a></td>
        {% if prospect.student is None %}
          <td><a type='button' class="btn btn-default" href="{% url 'people:prospect create student' pk=prospect.pk %}">Create Student</a></td>
        </tr>
        {% endif %}
      </table>
    </div>
    <div class='col-md-5'>
      <div>
        <h3>Advisor</h3>
            {% if prospect.advisor is not None%}
                <strong><p> {{ prospect.advisor }} </p></strong>
            {% endif %}
            <p>
              <a class="btn btn-default" href="{% url 'people:prospect assign advisor' pk=prospect.pk %}" role="button">Assign Advisor</a>
            </p>
      </div> 
      <div class=>
        <h3>Notes</h3>
            {% if notes.count > 0 %}
              {% for note in notes %}
                <p><a href="{% url 'people:prospect note detail' pk=note.pk%}">
                  {% if note.successful %}
                    Contact
                  {%else%}
                    Attempt
                  {% endif %}
                {{note.contact_date}}</a></p>
              {% endfor %}
            {% endif %}
            <p>
              <a class="btn btn-default" href="{% url 'people:prospect create note' pk=prospect.pk %}" role="button">Take Note</a>
            </p>
      </div> 
      <div>
        <h3>Status</h3>
        <strong>
        {% if prospect.active %}
        <p>Active</p>
        {% elif prospect.student is not None %}
        <p>Closed</p>
        {% else %}
        <p>Inactive</p>
        {% endif %}
        </strong>
        <a type='button' class="btn btn-default" href="{% url 'people:prospect update status' pk=prospect.pk %}">Update Status</a>
      </div>
      <div>
        <h3>Office Tracking</h3>
        {% if prospect.student is not None%}
            <p>Office Folder: {{ prospect.student.get_folder_display }}</p>
            <p>Orientation: {{ prospect.student.get_orientation_display }}</p>
            <p>Office Paperwork: {{ prospect.student.get_paperwork_display }}</p>
            {% if prospect.student.intake_form %}
            <p>Intake Form: Complete</p>
            {% else %}
            <p>Intake Form: Incomplete</p>
            {% endif %}
            {% if prospect.student.intake_quiz %}
            <p>Intake Quiz: Complete</p>
            {% else %}
            <p>Intake Quiz: Incomplete</p>
            {% endif %}
            <a class="btn btn-default" href="{% url 'people:prospect compliance form' slug=prospect.student.slug pk=prospect.pk %}" role="button">Update</a>
        {% else %}
            <p>Prospect not linked to any student record</p>
            <p>Please link student to enable office tracking</p>
        {% endif %}
      </div>
    </div>     

{%endblock content %}