{% extends "base.html" %}
{% block head_title %}DCCAEP | {{student}} records releases{% endblock head_title %}
{% block content %}
<h1>Records Releases for <a href="{% url 'people:student detail' slug=student.slug %}">{{ student }}</a></h1>
<a type="button" class="btn btn-default" href="{% url 'people:record release create' slug=student.slug %}" role="button">Add Records Release</a>
<a type="button" class="btn btn-default" href="{% url 'people:send record release link' slug=student.slug %}" role="button">Send Records Release Link</a>
{% if object_list %}
<table class="table table-striped">
<tr><th>Released To</th><th>Relationship</th><th>Signed</th><th>Form</th><th>Expires</th><th>Recorded</th></tr>
{% for release in object_list %}
<tr>
  <td><a href="{{ release.get_absolute_url }}">{{ release.released_to }}</a></td>
  <td>{{ release.get_relationship_display }}</td>
  <td>{% if release.sig_date %}{{ release.sig_date|date:"n/j/Y" }}{% endif %}</td>
  <td>{% if release.release_file %}<a href="{{ release.release_file_url }}" target="blank">View</a>{% endif %}</td>
  <td>{% if release.expiration_date %}{{ release.expiration_date|date:"n/j/Y" }}{% endif %}</td>
  <td>{{ release.created_at|date:"n/j/Y" }}</td>
</tr>
{% endfor %}
</table>
{% else %}
<p>{{ student.first_name }} has no records releases on file.</p>
{% endif %}
{% endblock content %}
