{% extends "base.html" %}
{% block head_title %}DCCAEP | Signup Success{% endblock head_title %}
{% block content %}

<div class="col-md-6 col-md-offset-3">
	<h1 class="text-center">Success!</h1>
	<p class="text-center lead">You're successfully registered for the Delgado Adult Education Program.</p>
	<p class="text-center">You have been placed on an orientation wait list.</p>
	<h2 class="text-center">NEXT STEPS</h2>
	<p class="text-center">You will be contacted by email to schedule your official orientation date.</p>
	<p class="text-center">Check your email by {{ event.start|date:'F j' }} for further information and to schedule your orientation.</p>
	<p class="text-center">In order to begin classes, you MUST attend orientation. If you miss your appointment or need to reschedule, please contact us at 504-671-5434. If you do not receive an email or text by {{ event.start|date:'F j' }}, please contact us at 504-671-5434.</p>
</div>

<div class="col-md-6 col-md-offset-3">
	<h1 class="text-center">¡Éxito!</h1>
	<p class="text-center lead">Usted ha registrado exitosamente en el Programa de Educación para Adultos de Delgado.</p>
	<p class="text-center">Has sido colocado en una lista de espera para la orientación.</p>
	<h2 class="text-center">PRÓXIMOS PASOS</h2>
	<p class="text-center">Será contactado por correo electrónico para programar su fecha oficial de orientación.</p>
	<p class="text-center">Revise su correo electrónico antes del {{ event.start|date:'d/m/Y' }} para obtener más información y programar su orientación.</p>
	<p class="text-center">Para comenzar las clases, DEBE asistir a la orientación. Si pierde su cita o necesita reprogramarla, contáctenos al 504-671-5434. Si no recibe un correo electrónico o mensaje de texto antes del {{ event.start|date:'d/m/Y' }}, contáctenos al 504-671-5434.</p>
</div>

{% endblock content %}