{% extends "base.html" %}
{% block head_title %}DCCAEP | Signup Success{% endblock head_title %}
{% block content %}
<div class="col-md-6 col-md-offset-3">
	<h1 class="text-center">Success!</h1>
	<p class="text-center lead">You're successfully registered for the Delgado Adult Education Program</p>
	<p class="text-center">In order to begin classes, you MUST attend orientation.</p>
	<p class="text-center">You will be receiving an email with next steps and directions on the date you selected:<br><strong>{{event}}</strong></p>
	<p class="text-center">Please make sure to bring a picture ID and check your email on that date-- including any spam folders, just in case. If you have any difficulty with these email directions or you have any questions or concerns, please feel free to contact <a href='mailto:coach@elearnclass.org'>coach@elearnclass.org</a> for help.</p>
</div>
<div class="col-md-6 col-md-offset-3">
	<h1 class="text-center">¡Éxito!</h1>
	<p class="text-center lead">Usted ha registrado con éxito para el programa de Adult Education en Delgado</p>
	<p class="text-center">Para comenzar las clases, DEBE completar su orientación.</p>
	<p class="text-center">Recibirá un correo electrónico con los siguientes pasos e instrucciones en la fecha que seleccionó:<br><strong>{{event}}</strong></p>
	<p class="text-center">Por favor, asegúrese de traer una identificación con foto y revise su correo electrónico en esa fecha, incluidas las carpetas de correo no deseado, por si acaso. Si tiene alguna dificultad con estas instrucciones por correo electrónico o si tiene alguna pregunta o inquietud, no dude en comunicarse con <a href='mailto:coach@elearnclass.org'>coach@elearnclass.org</a> para obtener ayuda.</p>
</div>
{% endblock content %}
