{% extends "base.html" %}
{% load crispy_forms_tags %}
{% block head_title %}DCCAEP | {{student}} paperwork{% endblock head_title %}
{% block content %}
<h1>Intake Paperwork for {{ student }}</h1>
<a href="https://drive.google.com/file/d/1USq6xgyp0mCNqmus-OYu77f37Kdmyi1F/view?usp=share_link" target="blank">en Español</a>
<a href="https://drive.google.com/file/d/12Nb0sICp70ACe-IpNe8iJtQ4_NgbBKgp/view?usp=share_link" target="blank">en Français</a>
<a href="https://drive.google.com/file/d/1gANF1iGKf8GSlS5Zap4hBl2nhtkAQVrG/view?usp=share_link" target="blank">用中文</a>
<a href="https://drive.google.com/file/d/1kSqcFayVJ0i7qefda9Ycy_CwubQeAwUS/view?usp=share_link" target="blank">em Português</a>
<a href="https://drive.google.com/file/d/1H1O98Exkiv66ZPX4Rm4K40sUMwKZTXq8/view?usp=share_link" target="blank">بالعربية</a>
<a href="https://drive.google.com/file/d/1LS4jX7GVa_h5TiMSbu6e-N_dFt_dViq3/view?usp=share_link" target="blank">bằng tiếng Việt</a>
<a href="https://drive.google.com/file/d/1HmGPNdY7CSPkarsO-Lw29OwHW4wD5SuH/view?usp=share_link" target="blank">Kreyòl Ayisyen</a>
<a href="https://drive.google.com/file/d/1DL8vGP4Q99OMV03qZIS0n9TCNWdfeHfE/view?usp=share_link" target="blank">на русском</a>
<form class="form_group" method="post">
    {% crispy form %}
    <button type="submit" class="btn btn-success">Submit</button>
</form>
{% endblock content %}