{% extends "base.html" %}
{% block content %}
	<div class="col-md-4 col-md-offset-4">
    	<h1 class="text-center">Success!</h1>
    	<p class="text-center lead">You're successfully registered for the Delgado Adult Education Program</p>
		<p class="text-center">In order to begin classes, you MUST attend orientation. If you miss your appointment or need to reschedule, please contact us at 504-671-5434</p>
    	<p class="text-center">Orientation will take place in Building 7, Room 170 at Delgado's City Park Campus (615 City Park, New Orleans, LA 70119).  Click <a href="http://www.dcc.edu/about/locations/city-park/cp-directions.aspx">here</a> for directions and click <a href="http://www.dcc.edu/documents/about/cp-campus-map.pdf">here</a> for a map of the campus.   If you do not have a Delgado permit, you must park on the street.  You should NOT park in any of the campus parking lots.</p>
        </div>
{% endblock content %}