{% extends "base.html" %}
{% load crispy_forms_tags %}
{% block content %}
<div class="well">
    <form method="post">
        {% csrf_token %}
            {% crispy user_form %}
            {% crispy form %}
            {% crispy wioa_form %}
            {% crispy orientation_form %}
            <p class="lead">If you miss an appointment, please contact us at 504-671-5434 to reschedule.</p>  
        <button class="btn btn-success btn-lg center-block" type="submit" value="Submit">Sign Me Up!</button>
    </form>
</div>
{% endblock content %}