{% extends "base.html" %}

{% block content %}
    <h1>{{ staff }} Home</h1>
    <h2>My Classes</h2>
    <table class='table'>
        <tr>
            <th>Class Name</th>
            <th>Students</th>
            <th>Days</th>
            <th>Start Time</th>
            <th>End Time</th>
            <th>Start Date</th>
            <th>End Date</th>
        </tr>
    {% for section in staff.classes.all %}
        <tr>
            <td><a href="{{section.get_absolute_url}}">{{section.title}}</a></td>
            <td>{{section.students.count}}</td>
            <td>{{section.get_days_str}}</td>
            <td>{{section.start_time}}</td>
            <td>{{section.end_time}}</td>
            <td>{{section.semester.start_date}}</td>
            <td>{{section.semester.end_date}}</td>
        </tr>
    {% endfor %}
{%endblock content %}