{% extends "base.html" %}
{% block head_title %}DCCAEP | Staff List{% endblock head_title %}
{% block content %}
    <h1>Staff</h1>
    <h3>Full Time</h3>
    <table class="table">
    	<tr>
    		<th>Name</th>
    		<th>Phone</th>
    		<th>Email</th>
        </tr>
        {% for staff in full_time %}
        	<tr>
	            <td><a href="{% url 'people:staff home' slug=staff.slug %}">{{ staff }}</a></td>
	            <td>{{ staff.phone }}</td>
	            <td>{{ staff.email }}</td>
            </tr>
        {% endfor %}
    </table>
    <h3>Part Time</h3>
    <table class="table">
        <tr>
            <th>Name</th>
            <th>Phone</th>
            <th>Email</th>
        </tr>
        {% for staff in part_time %}
            <tr>
                <td><a href="{% url 'people:staff home' slug=staff.slug %}">{{ staff }}</a></td>
                <td>{{ staff.phone }}</td>
                <td>{{ staff.email }}</td>
            </tr>
        {% endfor %}
    </table>
    <h3>Partners</h3>
    <table class="table">
        <tr>
            <th>Name</th>
            <th>Phone</th>
            <th>Email</th>
        {% for staff in partners %}
            <tr>
                <td><a href="{% url 'people:staff home' slug=staff.slug %}">{{ staff }}</a></td>
                <td>{{ staff.phone }}</td>
                <td>{{ staff.email }}</td>
            </tr>
        {% endfor %}
    </table>
{% endblock content %} 