{% extends "base.html" %}
{% load crispy_forms_tags %}
{% block head_title %}DCCAEP | {{staff}} Prospects List{% endblock head_title %}
{% block content %}
    <h1>{{status}} Prospects</h1>
    <div class="btn-group" role="group" aria-label="prospect links">
      <a type="button" class="btn btn-default" role="button" href="{% url 'people:staff prospects' slug=staff.slug%}">All</a>
      <a type="button" class="btn btn-default" href="{% url 'people:staff active prospects' slug=staff.slug%}" role="button">Active</a>
      <a type="button" class="btn btn-default" role="button" href="{% url 'people:staff inactive prospects' slug=staff.slug%}">Inactive</a>
      <a type="button" class="btn btn-default" role="button" href="{% url 'people:staff closed prospects' slug=staff.slug%}">Closed</a>
    </div>
    <div>
        {% if request.GET %}
            <form id='student-filter' class='form-inline' method='get' action={{request.path}}>
            <div class="form-group">
                <label class="sr-only" for="id_f_name">First Name</label>
                <input class="form-control" id="id_f_name" name="f_name" value="{{form.f_name.value}}" type="text" placeholder="First Name" />
            </div>
            <div class="form-group">
                <label class="sr-only" for="id_l_name">Last Name</label>
                <input class="form-control" id="id_l_name" name="l_name" value="{{form.l_name.value}}" type="text" placeholder="Last Name" />
            </div>
            <div class="form-group">
                <label class="sr-only" for="id_dob">Date of Birth</label>
                <input class="form-control" id="id_dob" name="dob" value="
                {{form.dob.value}}" type="text" placeholder="Birthday" />
            </div>
            <button type="submit" class="btn btn-default btn-sm">Filter Prospects</button>
        </form>
        {% else %}
            <form id='student-filter' class='form-inline' method='get' action="{{request.path}}">
            <div class="form-group">
                <label class="sr-only" for="id_f_name">First Name</label>
                <input class="form-control" id="id_f_name" name="f_name" type="text" placeholder="First Name" />
            </div>
            <div class="form-group">
                <label class="sr-only" for="id_l_name">Last Name</label>
                <input class="form-control" id="id_l_name" name="l_name" type="text" placeholder="Last Name" />
            </div>
            <div class="form-group">
                <label class="sr-only" for="id_dob">Date of Birth</label>
                <input class="form-control" id="id_dob" name="dob" type="text" placeholder="Birthday" />
            </div>
        <button type="submit" class="btn btn-default btn-sm">Filter Students</button>
        {% endif %}
        <a href="{{request.path}}" class="btn btn-default btn-sm">Clear</a>
        </form>
    </div>
    {% if prospects %}
        {% if is_paginated %}
            {% include 'components/pagination2.html' with form_target='student-filter' %}
        {% endif %}

        <table class="table">
            <tr>
                <th>Prospect</th>
                <th>Registration</th>
                <th>Birth Date</th>
                <th>Language</th>
                <th>Status</th>
                <th>Folder</th>
                <th>Orientation</th>
                <th>Paperwork</th>
                <th>Testing</th>
            </tr>
        {% for prospect in prospects %}
            <tr>
                <td><a href="{{ prospect.get_absolute_url }}">{{ prospect }}</a></td>
                <td>{{ prospect.registration_date }}</td>
                <td>{{ prospect.dob }}</td>
                <td>{{ prospect.get_primary_language_display }}</td>
                <td>{{ prospect.status }}</td>
                <td>{{ prospect.folder }}</td>
                <td>{{ prospect.orientation }}</td>
                <td>{{ prospect.paperwork }}</td>
                <td>{{ prospect.testing }}</td>
            </tr>
        {% endfor %}
        </table>
    {% else %}
        <p>Sorry, We can't find any students matching your search...</p>
    {% endif %}
{% endblock content %}
