{% extends "base.html" %}
{% block head_title %}DCCAEP | {{staff}} Home{% endblock head_title %}
{% block content %}
    <h1>{{ staff }} Home</h1>
    {% if staff.prospects.all.count > 0 %}
        <h3>My Prospects</h3>
         <a type="button" class="btn btn-default" href="{% url 'people:prospect export' slug=staff.slug %}">Prospect Export</a>
            <h4><a href="{% url 'people:staff prospects' slug=staff.slug %}">All: {{ staff.prospects.all.count }}</a></h4>
            <h4><a href="{% url 'people:staff active prospects' slug=staff.slug %}">Active: {{ staff.active_prospects.count }}</a></h4>
            <h4><a href="{% url 'people:staff inactive prospects' slug=staff.slug %}">Inactive: {{ staff.inactive_prospects.count }}</a></h4>
            <h4><a href="{% url 'people:staff closed prospects' slug=staff.slug %}">Closed: {{ staff.closed_prospects.count }}</a></h4>
    {% endif %}
    {% if staff.classes.count > 0 %}
        <h3>My Current Classes</h3>
        <table class='table'>
            <tr>
                <th>Site</th>
                <th>Program</th>
                <th>Class Name</th>
                <th>Students</th>
                <th>Days</th>
                <th>Start Time</th>
                <th>End Time</th>
                <th>Start Date</th>
                <th>End Date</th>
            </tr>
        {% for section in staff.current_classes %}
            <tr>
                <td>{{section.site}}</td>
                <td>{{section.program}}</td>
                <td><a href="{{section.get_absolute_url}}">{{section.title}}</a></td>
                <td>{{section.students.count}}</td>
                <td>{{section.get_days_str}}</td>
                <td>{{section.start_time}}</td>
                <td>{{section.end_time}}</td>
                <td>{{section.start_date}}</td>
                <td>{{section.end_date}}</td>
            </tr>
        {% endfor %}
        </table>
        <a type="button" class="btn btn-default" href="{% url 'people:staff class list' slug=staff.slug %}">All My Classes</a>
    {% endif %}
    {% if staff.coachees.all.count > 0 %}
        <h3>My Coachees</h3>
        <a type="button" class="btn btn-default" href="{% url 'coaching:coachee export' slug=staff.slug %}">Coachee Export</a>
        <a type="button" class="btn btn-default" href="{% url 'coaching:update coachings' slug=staff.slug %}">Update Statuses</a>
            <h4><a href="{% url 'coaching:coachee list' slug=staff.slug %}">All: {{ staff.coachees.all.count }}</a></h4>
            <h4><a href="{% url 'coaching:active coachee list' slug=staff.slug %}">Active: {{ staff.active_coachees.count }}</a></h4>
            <h4><a href="{% url 'coaching:on hold coachee list' slug=staff.slug %}">On Hold: {{ staff.on_hold_coachees.count }}</a></h4>
            <h4><a href="{% url 'coaching:inactive coachee list' slug=staff.slug %}">Inactive: {{ staff.inactive_coachees.count }}</a></h4>
            <h4><a href="{% url 'coaching:esl to ccr coachee list' slug=staff.slug %}">ESL to CCR: {{ staff.esl_ccr_coachees.count }}</a></h4>
            <h4><a href="{% url 'coaching:passed hiset coachee list' slug=staff.slug %}">Passed Hiset: {{staff.hiset_coachees.count }}</a></h4>
            <h4><a href="{% url 'coaching:enrolled coachee list' slug=staff.slug %}">Enrolled: {{ staff.enrolled_coachees.count }}</a></h4>
    {% endif %}
{%endblock content %}
