{% extends "base.html" %}
{% block content %}
	<div class="col-md-4 col-md-offset-4">
    	<h1 class="text-center">Success!</h1>
    	<p class="text-center lead">You're successfully registered for the Delgado Adult Education Program</p>
		<p class="text-center">Please make sure to return here for testing!</p>
    	<p class="text-center">Now, help us out setting up for the next group by clicking the button 
    	below and pushing in your chair on your way out</p>
    	<a class="btn btn-primary center-block" href="/" role="button">Click me Please!</a>
    </div>
{% endblock content %}