{% extends "base.html" %}
{% load crispy_forms_tags %}

{% block content %}
    <h1>Students</h1>
    <form class='form-inline' method='get'>
        <div class="form-group">
            <label class="sr-only" for="id_f_name">First Name</label>
            <input class="form-control" id="id_f_name" name="f_name" type="text" placeholder="First Name" />
        </div>
        <div class="form-group">
            <label class="sr-only" for="id_l_name">Last Name</label>
            <input class="form-control" id="id_l_name" name="l_name" type="text" placeholder="Last Name" />
        </div>
        <div class="form-group">
            <label class="sr-only" for="id_stu_id">Student Id</label>
            <input class="form-control" id="id_stu_id" name="stu_id" type="text" placeholder="Student Id" />
        </div>              
    <button type="submit" class="btn btn-default btn-sm">Filter Students</button>
    <a href="{% url 'people:student list' %}" class="btn btn-default btn-sm">Clear</a>
    </form>
    {% if students %}
        {% if is_paginated %}
            {% include 'components/pagination.html' %}
        {% endif %}
        <table class="table">
        	<tr>
        		<th>Student</th>
        		<th>WRU ID</th>
        		<th>Birth Date</th>
        	</tr>
        {% for student in students %}
            <tr>
            	<td><a href="{{ student.get_absolute_url }}">{{ student.user.get_full_name }}</a></td>
            	<td>{{ student.WRU_ID }}</td> 
            	<td>{{ student.dob }}</td>
            </tr>
        {% endfor %}
        </table>
    {% else %}
    	<p>Sorry, We can't find any students matching your search...</p>
    {% endif %}
    <p><a class="btn btn-default btn-sm" href="{%url 'people:create student' %}" role="button">New Student&raquo;</a></p>
{% endblock content %}
