{% extends "base.html" %}

{% block content %}
    <h1>{{ student.user.get_full_name }}</h1>
    <p>WRU ID: {{ student.WRU_ID }}</p>
    <p>Birthday: {{ student.dob }}</p>
    <h3>Student Contact Info</h3>
    <p>Email: {{ student.user.email }}</p>
    <p>Phone Number: {{ student.phone }}</p>
    <p>Alternate: {{ student.alt_phone }}</p>
    <p>Address: {{ student.street_address_1 }}{{ student.street_address_2 }}</p>
    <p>City:{{ student.city }}
    <h3>Emergency Contact Info</h3>
    <p>Name: {{student.emergency_contact}}</p>
    <p>Email: {{ student.ec_email }}
    <p>Phone: {{ student.ec_phone }}

    <p><a class="btn btn-default" href="{% url 'people:edit student' slug=student.slug %}" role="button">Edit Student</a>
    <a class="btn btn-default" href="my-classes/" role="button">Student Classes</a></p>

{%endblock content %}