{% extends "base.html" %}
{% block head_title %}DCCAEP{% endblock head_title %}
{% block content %}

<h4>STUDENT CONTRACT</h4>
<p>As a student of Delgado Community College's Adult Education Program, 
I agree to the following program policies.</p>
<ul> 
<li>It is my responsibility to make sure that I remain in good standing with the program by maintaining up‑to‑date test scores and fulfilling my class requirements:
<ul> 
<li>ON‑CAMPUS CLASSES ‑‑ I must attend at least 75% of the classes in a session, and I understand that I will be dropped from a class if I reach 5 absences in it.</li> 
<li>ONLINE CLASSES ‑‑ I must complete 75% of the class lessons in order to complete an online class.</li>
</ul></li> 
<li>I understand placement tests are periodically required for making new schedules and moving forward from session‑to‑session. These scores help the program to provide free classes and help track my progress. 
<li>I understand that arriving more than 20 minutes late to an on‑campus class may result in that class being marked as an absence. Excessive tardiness may result in further acon.</li> 
<li>I acknowledge that all Delgado property must remain in the classroom on campus. This includes all books, computers, calculators, and any other educational materials.</li> 
<li>I will refrain from the following: profane and obscene language; indecent behavior; fighting; threatening others; abuse of school property; possession and/or use of drugs, alcohol or firearms; and disrespect for other students and staff. I understand that violating these rules will result in immediate dismissal from the program.</li> 
<li>If I choose to participate in additional Paths including: eLearn online classes, certification classes, or ACE there will be additional requirements. These requirements may include specific placement test scores, additional orientations, and coaching.</li> 

{% endblock content %}