{% extends "base.html" %}
{% load crispy_forms_tags %}
{% block head_title %}DCCAEP | Student List{% endblock head_title %}
{% block content %}
    <h1>Students <a href="{% url 'sections:active student csv' %}" class="btn btn-default btn-sm">Student Lists</a></h1>
    {% if request.GET %}
        <form id='student-filter' class='form-inline' method='get' action="{% url 'people:student list' %}">
        <div class="form-group">
            <label class="sr-only" for="id_f_name">First Name</label>
            <input class="form-control" id="id_f_name" name="f_name" value="{{form.f_name.value}}" type="text" placeholder="First Name" />
        </div>
        <div class="form-group">
            <label class="sr-only" for="id_l_name">Last Name</label>
            <input class="form-control" id="id_l_name" name="l_name" value="{{form.l_name.value}}" type="text" placeholder="Last Name" />
        </div>
        <div class="form-group">
            <label class="sr-only" for="id_stu_id">Student Id</label>
            <input class="form-control" id="id_stu_id" name="stu_id" value="{{form.stu_id.value}}" type="text" placeholder="Student Id" />
        </div>
        <div class="form-group">
            <label class="sr-only" for="id_dob">Date of Birth</label>
            <input class="form-control" id="id_dob" name="dob" value = "
            {{form.dob.value}}" type="text" placeholder="Birthday" />
        </div>
    <button type="submit" class="btn btn-default btn-sm">Filter Students</button>
    {% else %}
        <form id='student-filter' class='form-inline' method='get' action="{% url 'people:student list' %}">
        <div class="form-group">
            <label class="sr-only" for="id_f_name">First Name</label>
            <input class="form-control" id="id_f_name" name="f_name" type="text" placeholder="First Name" />
        </div>
        <div class="form-group">
            <label class="sr-only" for="id_l_name">Last Name</label>
            <input class="form-control" id="id_l_name" name="l_name" type="text" placeholder="Last Name" />
        </div>
        <div class="form-group">
            <label class="sr-only" for="id_stu_id">Student Id</label>
            <input class="form-control" id="id_stu_id" name="stu_id" type="text" placeholder="Student Id" />
        </div>
        <div class="form-group">
            <label class="sr-only" for="id_dob">Date of Birth</label>
            <input class="form-control" id="id_dob" name="dob" type="text" placeholder="Birthday" />
        </div>
    <button type="submit" class="btn btn-default btn-sm">Filter Students</button>
    {% endif %}
    <a href="{% url 'people:student list' %}" class="btn btn-default btn-sm">Clear</a>
    </form>
    {% if students %}
        {% if is_paginated %}
            {% include 'components/pagination2.html' with form_target='student-filter' %}
        {% endif %}

        <table class="table">
        	<tr>
        		<th>Student</th>
        		<th>WRU ID</th>
        		<th>Birth Date</th>
        	</tr>
        {% for student in students %}
            <tr>
            	<td><a href="{{ student.get_absolute_url }}">{{ student }}</a></td>
            	<td>{{ student.WRU_ID }}</td> 
            	<td>{{ student.dob }}</td>
            </tr>
        {% endfor %}
        </table>
    {% else %}
    	<p>Sorry, We can't find any students matching your search...</p>
    {% endif %}
{% endblock content %}
