{% extends "base.html" %}
{% block head_title %}DCCAEP | {{student}}{% endblock head_title %}
{% block content %}
    <div>
      <h1 style="display: inline-block">{{ student }}</h1>
      {% if student.pronoun or student.title or student.nickname %}
      <h3 style="display: inline-block; color: red">| {{ student.pronoun }} | {{ student.title }} {{ student.nickname }}</h3>
      {% endif %}
      {% if student.partner %}
        <h3>Partner Student - {{student.partner}}</h3> 
      {% endif %}
    </div>
    <div class='col-md-7'>
      {%include 'components/student_nav.html' %}
      <table class='table'>
        <tr>
          <td>WRU ID</td>
          <td>{{ student.WRU_ID }}</td>
        </tr>
        <tr>
          <td>Intake Date</td>
          <td>{{ student.intake_date }}</td>
        </tr>
        <tr>
          <td>Birthday</td>
          <td>{{ student.dob }}</td>
        </tr>
        <tr>
          <td>Native Language</td>
          <td>{{ student.WIOA.native_language }}</td>
        </tr>
        <tr>
          <td><h4>Student Contact</h4></td>
          <td></td>
        </tr>
        <tr>
          <td>Email</td>
          <td>{{ student.email }}</td>
        </tr>
        {% if student.alt_email != '' %}
        <tr>
          <td>Alternate Email</td>
          <td>{{ student.alt_email }}</td>
        </tr>
        {% endif %}       
        {% if student.elearn_record %}
        <tr>
          <td>G-Suite Email</td>
          <td>{{ student.elearn_record.g_suite_email }}</td>
        </tr>
        {% endif %}
        <tr>
          <td>Phone Number</td>
          <td>{{ student.phone }}</td>
        </tr>
        <tr>
          <td>Alternate Phone Number</td>
          <td>{{ student.alt_phone }}</td>
        </tr>
        <tr>
          <td>Address</td>
          <td>{{ student.street_address_1 }}{{ student.street_address_2 }}</td>
        </tr>
        <tr>
          <td>City</td>
          <td>{{ student.city }}</td>
        </tr>
        <tr>
          <td><h4>Emergency Contact</h4></td>
          <td></td>
        </tr>
        <tr>
          <td>Name</td>
          <td>{{student.emergency_contact}}</td>
        </tr>
        <tr>
          <td>Email</td>
          <td>{{ student.ec_email }}</td>
        </tr>
        <tr>
          <td>Phone</td>
          <td>{{ student.ec_phone }}</td>
        </tr>
      </table>
      <!-- <h3>Periods of Participation</h3>
        <table class="table">
          <tr>
            <th>PoP</th>
            <th>Pretest</th>
            <th>Pretest Date</th>
          </tr>
        {% for pop in pops %}
          <tr>
            <td>{{pop}}</td>
            <td>{{pop.pretest_type}}</td>
            <td>{{pop.pretest_date}}</td>
          </tr>
        {% endfor %}
        </table> -->
    </div>
    <div class='col-md-5'>
      <div>
        <h3>Testing Appointments</h3>
            {% if student.future_appts %}
            {% for appt in student.future_appts %}
                <p><a href="{% url 'assessments:test appointment detail' pk=appt.pk %}">{{ appt.event.title }} - {{appt.event.start }}</a></p>
            {% endfor %}
            {% else %}
                <p>There are no upcoming testing appointments for {{ student }}. Would you like to create one?</p>
                <p>
                  <a class="btn btn-default" href="{% url 'assessments:test signup' slug=student.slug %}" role="button">Testing Signup</a>
                </p>
            {% endif %}
      </div>
      <div>
        <h3>Student Coaching</h3>
            {% if coaches.count > 0 %}
              <ul>
              {% for coach in coaches %}
                  <li><a href="{% url 'coaching:coaching detail' pk=coach.pk %}">{{ coach.coach }} - {{ coach.get_coaching_type_display }} - since {{ coach.start_date.date }}</a></li>
              {% endfor %}
              </ul>
                <p>
                  <a class="btn btn-default" href="{% url 'coaching:coaching create' slug=student.slug %}" role="button">Assign Coach</a>
                </p>
            {% else %}
                <p>{{ student }} is not assigned to any coaches.</p>
                <p>
                  <a class="btn btn-default" href="{% url 'coaching:coaching create' slug=student.slug %}" role="button">Assign Coach</a>
                </p>
            {% endif %}
      </div>
      <div>
        <h3>Office Tracking</h3>
            <p>Office Folder: {{ student.get_folder_display }}</p>
            <p>Orientation: {{ student.get_orientation_display }}</p>
            <p>Office Paperwork: {{ student.get_paperwork_display }}</p>
            {% if student.intake_form %}
            <p>Intake Form: Complete</p>
            {% else %}
            <p>Intake Form: Incomplete</p>
            {% endif %}
            {% if student.intake_quiz %}
            <p>Intake Quiz: Complete</p>
            {% else %}
            <p>Intake Quiz: Incomplete</p>
            {% endif %}
            <a class="btn btn-default" href="{% url 'people:student compliance form' slug=student.slug %}" role="button">Update</a>
      </div>
      <div>
        <h3>Notes</h3>
            {% if student.notes != '' %}
                <p> {{student.notes }} </p>
            {% endif %}
            <p>
              <a class="btn btn-default" href="{% url 'people:edit notes' slug=student.slug %}" role="button">Edit Notes</a>
            </p>
      </div>
      <div>
          <h3>Prospects</h3>
            {% if student.prospects.all.count > 0 %}
              {% for prospect in student.prospects.all %}
                <p>
                  <a href="{{ prospect.get_absolute_url }}">{{ prospect.registration_date}}</a>
                </p>
              {% endfor %}
            {% else %}
              <p>There are no prospect records linked to this student</p>
            {% endif %}
      </div>
    </div>      

{%endblock content %}