{% extends "base.html" %}
{% block head_title %}DCCAEP{% endblock head_title %}
{% block content %}

<h4>TECHNOLOGY USAGE AGREEMENT</h4>
<ul>
<li>Only staff and enrolled students are allowed to use DCCAEP’s technology and computer resources. Non‑registered guests do not have permission.</li> 
<li>Using DCCAEP technology is a privilege and not a guaranteed right. Students who alter or break the normal functioning of DCCAEP property may lose their computer‑privileges.</li> 
<li>Students should only use Delgado technology and computers for academic reasons. These computers are meant for schoolwork and learning‑‑ not for checking personal email, posting to social media, or watching videos.</li> 
<li>Under no circumstances is it allowed for anyone to use DCCAEP computers or the internet for visiting inappropriate or explicit adult‑websites, nor is it ever allowed for anyone to use DCCAEP technology for the purposes of criminal activity.</li> 
<li>Students are not allowed to download programs, extensions, or non‑schoolwork files to DCCAEP computers. These are ways that viruses and security‑breaches can happen.</li> 
<li>Students should know that there is no guarantee of privacy or security when using DCCAEP’s computers‑‑ which is another reason not to use these machines for anything other than academics.</li>
</ul> 

{% if paperwork %}
<table class='table bordlerless'>
<tr><td><i>{{paperwork.signature}}</i></td><td>{{paperwork.sig_date}}</td></tr>
<tr><td>Signature</td><td>Date</td></tr>
</table>
<p>{{student}}- {{student.WRU_ID}}</p>
<p>Intake Date: {{student.intake_date}}</p>
{% endif %}

{% endblock content %}