{% extends "base.html" %}
{% block head_title %}DCCAEP{% endblock head_title %}
{% block content %}

<h4>STUDENT TESTING AGREEMENT<h4>
<p>I fully understand the following, and I agree to follow these rules as outlined below, or to accept the consequences of my acons.</p>
<ul> 
	<li>I understand that I must arrive at the time I am scheduled for. If I am late, I may not be allowed to test, and I may have to schedule a new testing appointment which is not guaranteed to be in the near future.</li> 
	<li>Cell phones are to be turned off at all times. If I use my cell phone FOR ANY REASON, IN ANY WAY during testing, the test can be taken away and voided, and I will be asked to leave.</li> 
	<li>I will not talk to other students once testing has started. If the test proctor has to ask me to stop talking, he or she may assume I am cheang and reserves the right to take away my test and ask me to leave.</li> 
	<li>If I am in need of accommodation for testing, I will submit a request in writing. The Main Office has a standardized request form that I must fill out, and I understand that further documentation may be needed and requested in order to provide specific accommodations.</li> 
</ul>

{% if paperwork %}
<table class='table bordlerless'>
<tr>
	<td><i>{{paperwork.signature}}</i></td>
	<td>{{paperwork.sig_date}}</td>
</tr>
<tr>
	<td>Signature</td>
	<td>Date</td>
</tr>
</table>
<p>{{student}}- {{student.WRU_ID}}</p>
<p>Intake Date: {{student.intake_date}}</p>
{% endif %}
{% endblock content %}