"<p>Hi {student},</p><p>You have selected "
                    "to attend Orientation on {date:{dfmt}} at {time:{tfmt}} "
                    "at the City Park Campus (615 City Park Ave,"
                    " New Orleans, LA 70119).</p> <p>Later on, you can "
                    "choose to attend classes at other locations -- but for "
                    "New Student events you will need to come to the City Park"
                    " location.</p> <p>Please come to Building "
                    "7, Room 170.<a href='http://www.dcc.edu/about/locations"
                    "/city-park/map-directions.aspx'>Click here</a>"
                    " for directions and <a href='http://www.dcc."
                    "edu/documents/about/city-park-campus-map.pdf'>click here</a>"
                    " for a map of the campus.</p>"
                    "<br>"
                    "<p><strong>Your attendance of this event is required"
                    " to move forward in the registration process</strong>"
                    ".</p> <p>If you have any questions or a problem with "
                    " your appointment please <a href=https://docs.google.com/"
                    "forms/d/e/1FAIpQLSefXcnufXkaqnS5OAyTnCREC7dFA6AbviiPCdZQyy2krMAW4g/viewform>"
                    "click here for assistance</a>.</p><p>Si tiene preguntas"
                    " o problemas con su cita, haga <a href=https://docs.google.com/"
                    "forms/d/e/1FAIpQLSefXcnufXkaqnS5OAyTnCREC7dFA6AbviiPCdZQyy2krMAW4g/"
                    "viewform>clic aquí para obtener ayuda</a></p>"
                    "<br><p>Thank you,</p>"
                    "<p>The Adult Education Program</p>"
                    "<p>Delgado Community College</p>"