{% extends "base.html" %}
{% block content %}
{% block head_title %}DCCAEP | {{student}} CLAS-E Scores {% endblock head_title %}
<h1>CLAS-E Results for {{student}}</h1>
<p><a class="btn btn-default" href="{% url 'assessments:student clas-e add' slug=student.slug %}">Add CLAS-E Test</a></p>
{% for test in object_list %}
    <div class="col-md-7">
    <table class="table">
    <tr>
        <th>Date</th>
        <th>Test</th>
        <th>Scale Score</th>
        <th>NRS Level</th>
    </tr>
    <tr>
        <p><td>{{ test.test_date|date:"m/d/y" }}</td></p>
        <p><td>{{ test.read_level }}{{test.form}}</td></p>
        <p><td>{{ test.read_ss }}</td></p>
        <p><td>{{ test.read_nrs }}</td></p>
    </tr>
    </table>
    </div>
{% endfor %}
{% endblock %}
