{% extends "base.html" %}
{% block head_title %}DCCAEP | {{student}} Test History{% endblock head_title %}
{% block content %}
	<h1>Testing Record for {{ history.student }} - {{ history.student.WRU_ID }}</h1>
    <h2>Test Appointments</h2>
    <div class='well'>
        <h4>Next Test Assignment: {{ history.test_assignment }}</h4>
        <h4>Upcoming Appointments</h4>
        {% if appts %}
        {% for appt in appts %}
        	<p><a href="{% url 'assessments:test appointment detail' pk=appt.pk %}">{{ appt.event.title }} - {{appt.event.start }}</a></p>
        {% endfor %}
        {% else %}
            <p>There are no upcoming testing appointments for {{ history.student }}. Would you like to create one?</p>
        {% endif %}
        <a class="btn btn-default" href="{% url 'assessments:test signup' slug=history.student.slug %}" role="button">Testing Signup</a>
        <h4>Recent Appointments</h4>
        {% if recent_appts %}
        {% for appt in recent_appts %}
            <p><a href="{% url 'assessments:test appointment detail' pk=appt.pk %}">{{ appt.event.title }} - {{appt.event.start }}</a></p>
        {% endfor %}
        {% else %}
            <p>There are no recent testing appointments for {{ history.student }}.</p>
        {% endif %}
            
    </div>
    <h2>Test Scores</h2>
    <div class='well'>
        <h3>NRS Reported Tests</h3>
        {% if history.last_test is None %}
            <p>{{history.student.first_name}} doesn't seem to have any tests on record</p>
        {% else %}
            <h5>Last Tested: {{ history.last_test }}</h5>
        {%endif%}
            {% if history.tabe_tests.count > 0 %}
                <h4><a href="{% url 'assessments:student tabe list' slug=history.student.slug %}">TABE Tests</a></h4>
                    {% with test=history.latest_tabe %}
                        <h4>{{ test.test_date|date:"m/d/y" }} -- {{test.form}} {{ test.read_level }} {{ test.math_level }} {{ test.lang_level }}</h4>
                        <table class="table">
                        <tr>
                            <th>Reading</th>
                            <th>Math Comp</th>
                            <th>Applied Math</th>
                            <th>Language</th>
                            <th>Total Math</th>
                            <th>Total Battery</th>
                            <th>Read NRS</th>
                            <th>Math NRS</th>
                            <th>Lang NRS</th>
                        </tr>
                        <tr>
                            <p><td>{{ test.read_ss }}</td></p>
                            <p><td>{{ test.math_comp_ss }}</td></p>
                            <p><td>{{ test.app_math_ss }}</td></p>
                            <p><td>{{ test.lang_ss }}</td></p>
                            <p><td>{{ test.total_math_ss}}</td></p>
                            <p><td>{{ test.total_batt_ss}}</td></p>
                            <p><td>{{ test.read_nrs}}</td></p>
                            <p><td>{{ test.math_nrs}}</td></p>
                            <p><td>{{ test.lang_nrs}}</td></p>
                        </tr>
                        </table>
                    {% endwith %}
            {% else %}
                <h4><a href="{% url 'assessments:student tabe add' slug=history.student.slug %}">TABE Tests</a></h4>
                <p>{{history.student.first_name}} has no TABE tests on record. Click the link above to add one</p>
            {% endif %}
            {% if history.clas_e_tests.count > 0 %}
                <h4><a href="{% url 'assessments:student clas-e list' slug=history.student.slug %}">CLAS-E Tests</a></h4>
                    {% with test=history.latest_clas_e %}
                        <table class="table">
                            <tr>
                                <th>Date</th>
                                <th>Test</th>
                                <th>Scale Score</th>
                                <th>NRS Level</th>
                            </tr>
                            <tr>
                                <p><td>{{ test.test_date|date:"m/d/y" }}</td></p>
                                <p><td>{{ test.read_level }}{{test.form}}</td></p>
                                <p><td>{{ test.read_ss }}</td></p>
                                <p><td>{{ test.read_nrs }}</td></p>
                            </tr>
                        </table>
                    {% endwith %}
            {% else %}
                <h4><a href="{% url 'assessments:student clas-e add' slug=history.student.slug %}">CLAS-E Tests</a></h4>
                <p>{{history.student.first_name}} has no CLAS-E tests on record. Click the link above to add one</p>
            {% endif %}
            {% if history.gain_tests.count > 0 %}
                <h4><a href="{% url 'assessments:student gain list' slug=history.student.slug %}">GAIN Tests</a></h4>    
                    {% with test=history.latest_gain %}
                        <table class="table">
                            <tr>
                                <th>Date</th>
                                <th>Test</th>
                                <th>Scale Score</th>
                                <th>Grade Eq.</th>
                                <th>NRS</th>
                            </tr>
                            <tr>
                                <p><td>{{ test.test_date|date:"m/d/y" }}</td></p>
                                <p><td>{{ test.subject }} {{test.form}}</td></p>
                                <p><td>{{ test.scale_score }}</td></p>
                                <p><td>{{ test.grade_eq }}</td></p>
                                <p><td>{{ test.nrs }}</td></p>
                            </tr>
                        </table>
                    {% endwith %}
            {% else %}
                <h4><a href="{% url 'assessments:student gain add' slug=history.student.slug %}">GAIN Tests</a></h4>
                <p>{{history.student.first_name}} has no GAIN tests on record. Click the link above to add one</p>
            {% endif %}

        <h3>Other Tests</h3>
        {% if history.hiset_practice_tests.count %}
            <h4><a href="{% url 'assessments:student hiset practice list' slug=history.student.slug %}">HiSET Practice Tests</a></h4>
            {% with tests=history.latest_hiset_practice %}
                <table class="table">
                <tr>
                    <th>Date</th>
                    <th>Version</th>
                    <th>Subject</th>
                    <th>Score</th>
                    <th>Grade</th>
                </tr>
                {% for test in tests %}
                <tr>
                    <p><td>{{ test.test_date|date:"m/d/y" }}</td></p>
                    <p><td>{{ test.test_version }}</td></p>
                    <p><td>{{ test.subject }}</td></p>
                    <p><td>{{ test.score }}</td></p>
                    <p><td>{{ test.grade }}</td></p>
                </tr>
                {% endfor %}
                </table>
            {% endwith %}
        {% else %}
            <h4><a href="{% url 'assessments:student hiset practice add' slug=history.student.slug %}">HiSET Practice Tests</a></h4>
            <p>{{history.student.first_name}} has no HiSET Practice tests on record. Click the link above to add one</p>
        {% endif %}
    </div>
{% endblock %}
