{% extends "base.html" %}
{% block content %}
	<h1>Test History for {{ history.student }}</h1>
    <h3>Last Test: {{ history.last_test }}</h3> 
    <h3>Test Assignment: {{ history.test_assignment }}</h3>
    <h3>Testing Appointments</h3>
    {% if appts %}
    {% for appt in appts %}
    	<p><a href="{% url 'assessments:test appointment detail' pk=appt.pk %}">{{ appt.event.title }} - {{appt.event.start }}</a></p>
    {% endfor %}
    {% else %}
        <p>There are no upcomming testing appointments for {{ history.student }}. Would you like to create one?</p>
        <a class="btn btn-default" href="{% url 'assessments:test signup' slug=history.student.slug %}" role="button">Testing Signup</a>
    {% endif %}

{% endblock %}