{% extends "base.html" %}
{% block head_title %}DCCAEP | {{student}} CLAS-E Scores {% endblock head_title %}
{% block content %}
<h1>CLAS-E Results for {{student}}</h1>
<p><a class="btn btn-default" href="{% url 'assessments:student clas-e add' slug=student.slug %}">Add CLAS-E Test</a></p>
    <div class="col-md-7">
    <table class="table">
    <tr>
        <th>Date</th>
        <th>Test</th>
        <th>NRS Level</th>
        <th>Scale Score</th>
        <th>Score Report Link</th>
        <th>Report Sent</th>
        <th>Send Score Report</th>
    </tr>
    {% for test in object_list %}
    <tr>
        {% if test.score_report_link %}
            <td><a href={{test.score_report_link}}>{{ test.test_date|date:"m/d/y" }}</a></td>
        {% else %}
            <td>{{ test.test_date|date:"m/d/y" }}</td>
        {% endif %}
        <td>{{ test.read_level }}{{test.form}}</td>
        <td>{{ test.read_nrs }}</td>
        <td>{{ test.read_ss }}</td>
        <td><a href="{% url 'assessments:clas-e score report link' slug=student.slug pk=test.pk %}">Update</a></td>
            <td>{{ test.score_report_sent }}</td>
            <td><a href="{% url 'assessments:send clas-e score report' slug=student.slug pk=test.pk %}">Send Score Report</a></td>
    </tr>
    {% endfor %}
    </table>
    </div>
{% endblock %}
