{% extends "base.html" %}
{% block head_title %}DCCAEP | {{student}} Accuplacer Scores{% endblock head_title %}
{% block content %}
<h1>Accuplacer Results for {{student}}</h1>
<p><a class="btn btn-default" href="{% url 'assessments:student accuplacer add' slug=student.slug %}">Add Accuplacer</a></p>

    <div class="col-md-7">
    <table class="table">
    <tr>
        <th>Date</th>\
        <th>Reading</th>
        <th>Writing</th>
        <th>Quantitative Reasoning</th>
        <th>Advanced Algebra</th>
        <th>English Placement</th>
        <th>Math Placement</th>
    </tr>
    {% for test in object_list %}
    <tr>
        <p><td>{{ test.test_date|date:"m/d/y" }}</td></p>
        <p><td>{{ test.reading }}</td></p>
        <p><td>{{ test.writing }}</td></p>
        <p><td>{{ test.quantitative }}</td></p>
        <p><td>{{ test.functions }}</td></p>
        <p><td>{{ test.eng_placement }}</td></p>
        <p><td>{{ test.math_placement }}</td></p>
    </tr>
    {% endfor %}
    </table>
    </div>

{% endblock %}
