{% extends "base.html" %}
{% block content %}
<h1>GAIN Results for {{student}}</h1>
<p><a class="btn btn-default" href="{% url 'assessments:student gain add' slug=student.slug %}">Add GAIN Test</a></p>
{% for test in object_list %}
    <div class="col-md-7">
    <table class="table">
    <tr>
        <th>Date</th>
        <th>Test</th>
        <th>Scale Score</th>
        <th>Grade Eq.</th>
        <th>NRS</th>
    </tr>
    <tr>
        <p><td>{{ test.test_date|date:"m/d/y" }}</td></p>
        <p><td>{{ test.subject }} {{test.form}}</td></p>
        <p><td>{{ test.scale_score }}</td></p>
        <p><td>{{ test.grade_eq }}</td></p>
        <p><td>{{ test.nrs }}</td></p>
    </tr>
    </table>
    </div>
{% endfor %}
{% endblock %}
