{% extends "base.html" %}
{% block head_title %}DCCAEP | {{student}} Test Appointments{% endblock head_title %}
{% block content %}
<h1>Appointments for <a href="{% url 'assessments:student test history' slug=student.slug %}">{{student}}</a></h1>
{%include 'components/student_nav.html' %}
{% if is_paginated %}
    {% include 'components/pagination.html' %}
{% endif %}
<table class='table'>
	<tr>
		<th>Event</th>
		<th>Site</th>
		<th>Start</th>
		<th>Test</th>
		<th>Attendance</th>
	</tr>
	{% for appt in object_list %}
	<tr>
		<td><a href="{% url 'assessments:test appointment detail' pk=appt.pk %}">{{ appt.event.title }}</a></td>
		<td>{{appt.event.site}}</td>
		<td>{{appt.event.start }}</td>
		<td>{{appt.event.get_test_display}}</td>
		<td>{{appt.get_attendance_type_display}}</td>
	</tr>
	{% endfor %}
</table>
<a class="btn btn-default" href="{% url 'assessments:test signup' slug=student.slug %}" role="button">Testing Signup</a>
{% endblock content %}
