{% extends "base.html" %}
{% block head_title %}DCCAEP | {{student}} TABE Scores{% endblock head_title %}
{% block content %}
<h1>TABE Results for {{student}}</h1>
{%include 'components/student_nav.html' %}
<p><a class="btn btn-default" href="{% url 'assessments:student tabe add' slug=student.slug %}">Add TABE Test</a></p>
	<div class="col-md-7">
	<table class="table">
	<tr>
		<th>Date</th>
		<th>Form</th>
		<th>Read Level</th>
		<th>Math Level</th>
		<th>Lang Level</th>
		<th>Read NRS</th>
		<th>Math NRS</th>
		<th>Lang NRS</th>
		<th>Reading</th>
		<th>Math Comp</th>
		<th>Applied Math</th>
		<th>Language</th>
		<th>Total Math</th>
		<th>Total Battery</th>
		<th>Report Link</th>
		<th>Report Sent</th>
		<th>Send Score Report</th>

	</tr>
	{% for test in object_list %}
		<tr>
			{% if test.score_report_link %}
				<p><td><a href={{test.score_report_link}}>{{ test.test_date|date:"m/d/y" }}</a></td></p>
			{% else %}
				<p><td>{{ test.test_date|date:"m/d/y" }}</td></p>
			{% endif %}
			<td>{{test.form}}</td></p>
			<td>{{ test.read_level }}</td>
			<td>{{ test.math_level }}</td>
			<td>{{ test.lang_level }}</td>
			<td>{{ test.read_nrs }}</td>
			<td>{{ test.math_nrs }}</td>
			<td>{{ test.lang_nrs }}</td>
			<td>{{ test.read_ss }}</td>
			<td>{{ test.math_comp_ss }}</td>
			<td>{{ test.app_math_ss }}</td>
			<td>{{ test.lang_ss }}</td>
			<td>{{ test.total_math_ss}}</td>
			<td>{{ test.total_batt_ss}}</td>
			<td><a href="{%url 'assessments:tabe score report link' slug=student.slug pk=test.pk %}">Update</a></td>
			<td>{{ test.score_report_sent }}</td>
			<td><a href="{% url 'assessments:send tabe score report' slug=student.slug pk=test.pk %}">Send Score Report</a></td>
		</tr>
	{% endfor %}
	</table>
	</div>

{% endblock %}
