{% extends "base.html" %}
{% block head_title %}DCCAEP | Test Appointment{% endblock head_title %}
{% block content %}
<h1>Test Appointment for <a href="{% url 'people:student detail' slug=appt.student.slug %}">{{appt.student}}</a></h1>
<h3><a href="{% url 'assessments:test event detail' pk=appt.event.pk %}">{{appt.event.title}}: {{appt.event.test}}</a><h3>
    {%if appt.event.proctor is not None %}
        <h4>Proctor: {{appt.event.proctor}} </h4>
    {% endif %}
    {% if appt.event.room != "" %}
        <h4>Room: {{appt.event.room}}
    {% endif %}</h4>
<h4>{{appt.event.start}} - {{appt.event.end.time}}<h4>
<p>Notes: {{ appt.notes }}</p><a class="btn btn-default" href="{% url 'assessments:test appointment notes' pk=appt.pk %}" role="button">Update Notes</a>
{% endblock %}