{% extends "base.html" %}
{% block head_title %}DCCAEP | {{event}} {% endblock head_title %}
{% block content %}
<h1>{{ event }}</h1>
<h3>{{event.start}} - {{event.end.time}}</h3>
<h3>Proctor: {{event.proctor}}</h3>
<h3>Room: {{ event.room }}</h3>
<a class="btn btn-default btn-sm" href="{% url 'assessments:test event csv' pk=event.pk %}" role="button">Export Student Details</a>
<a class="btn btn-default btn-sm" href="{% url 'assessments:tabe online csv' pk=event.pk %}" role="button">Export TABE ONLINE Input</a>
<a class="btn btn-default btn-sm" href="{% url 'assessments:test event attendance report' pk=event.pk %}" role="button">Get Attendance Report Email</a>
{% if event.test in event.ORIENTATION_EVENTS %}
<a class="btn btn-default btn-sm" href="{% url 'assessments:test event paperwork' pk=event.pk %}" role="button">Photo ID and Paperwork Forms</a>
{% endif %}
<table class="table">
	<tr>
		<th>ID</th>
		<th>First Name</th>
		<th>Last Name</th>
		<th>Phone</th>
		<th>Email</th>
		<th>Notes</th>
		<th>Eligible</th>
		<th>Assignment</th>
		{% if event.test == event.ORIENTATION %}
		<th>Program</th>
		<th>Orientation</th>
		{% endif %}
		<th><a href="{% url 'assessments:test event attendance' pk=event.pk %}">Attendance</a></th>
	</tr>
{% for student in students %}
	<tr>
		<td>{{ student.student.WRU_ID }}</td>
		<td><a href="{% url 'people:student detail' slug=student.student.slug %}">{{ student.student.first_name }}</a></td>
		<td><a href="{% url 'people:student detail' slug=student.student.slug %}">{{ student.student.last_name }}</a></td>
		<td>{{ student.student.phone }}</td>
		<td>{{ student.student.email }}</td>
		<td><a href="{% url 'assessments:test appointment notes' pk=student.pk %}">-{{ student.notes }}-</a></td>
		<td>{{ student.student.eligibility_verified|yesno:"Yes,No" }}
		<td>{{ student.student.tests.test_assignment }}</td>
		{% if event.test == event.ORIENTATION %}
		<td>{{ student.student.program_from_interest }}</td>
		<td>{{ student.student.get_orientation_display }}</td>
		{% endif %}
		<td><a href="{% url 'assessments:test appointment attendance' pk=student.pk %}">{{student.get_attendance_type_display}}</a></td>
	</tr>
{% endfor %}
</table>
{% endblock %}