{% extends "base.html" %}
{% block head_title %}DCCAEP | {{tempus}} Test Events{% endblock head_title %}
{% block content %}
	<h1>{{ tempus }} Test Events</h1>
	{% if tempus == "Past" %}
		<a href="{% url 'assessments:current event list' %}" class="btn btn-default">Current Events</a>
	{% else %}
		<a href="{% url 'assessments:past event list' %}" class="btn btn-default">Past Events</a>
	{% endif %}
	<table class="table">
		<tr>
			<th>Event</th>
			<th>Type</th>
			<th>Proctor</th>
			<th>Open Seats</th>
			<th>Seats</th>
			<th>Date</th>
			<th>Start Time</th>
			<th>End Time</th>
		</tr>
    {% if is_paginated %}
        {% include 'components/pagination.html' %}
    {% endif %}
	{% for event in object_list %}
		<tr>
			<td><a href="{% url 'assessments:test event detail' pk=event.pk %}">{{event.title}}</a></td>
			<td>{{event.get_test_display}}</td>
			<td>{{event.proctor}}</td>
			<td>{{event.open_seats}}</td>
			<td>{{event.seats}}</td>
			<td>{{event.start.date}}</td>
			<td>{{event.start.time}}</td>
			<td>{{event.end.time}}</td>
		</tr>
	{% endfor %}
	</table>
{% endblock %}