{% extends "base.html" %}
{% block content %}
<h1>{{ event }}</h1>
<h3>Proctor: {{event.proctor}}</h3>
<table class="table">
	<tr>
		<th>ID</th>
		<th>Student</th>
		<th>Assignment</th>
		<th>Phone</th>
		<th>Email</th>
	</tr>
{% for student in students %}
	<tr>
		<td>{{ student.student.WRU_ID }}</td>
		<td>{{ student.student }}</td>
		<td>{{ student.student.tests.test_assignment }}</td>
		<td>{{ student.student.phone }}</td>
		<td>{{ student.student.user.email }}</td>

	</tr>
{% endfor %}
</table>
{% endblock %}