{% extends "base.html" %}
{% block content %}
	<h1>Test Events</h1>
	<table class="table">
		<tr>
			<th>Test</th>
			<th>Proctor</th>
			<th>Open Seats</th>
			<th>Seats</th>
			<th>Date</th>
			<th>Start Time</th>
			<th>End Time</th>
		</tr>
	{% for event in object_list %}
		<tr>
			<td><a href="{% url 'assessments:test event detail' pk=event.pk %}">{{event.get_test_display}}</a></td>
			<td>{{event.proctor}}</td>
			<td>{{event.open_seats}}</td>
			<td>{{event.seats}}</td>
			<td>{{event.start.date}}</td>
			<td>{{event.start.time}}</td>
			<td>{{event.end.time}}</td>
		</tr>
	{% endfor %}
	</table>
{% endblock %}