{% extends "base.html" %}
{% block head_title %}DCCAEP{% endblock %}
{% block content %}
    <!-- Main jumbotron for a primary marketing message or call to action -->
    <div class="jumbotron">
      <div class="container">
        <h1>Welcome to DCC Adult Education</h1>
        <p>This is a template for a simple informational homepage. It includes a large content box called a jumbotron and three supporting pieces of content. The content can be generated dynamically based on context variables including user, time, date, browser, etc.</p>
        <p><a class="btn btn-primary btn-lg" href="students/new/" role="button">Register Now &raquo;</a></p>
      </div>
    </div>
    <div class="container">
      <!-- Example row of columns -->
      <div class="row">
        <div class="col-md-4">
          <h2>Class Promo</h2>
          <p>We could just toss up a quick promotion for a class we wanted to push. I don't have any here, but there's no reason this couldn't include pictures.</p>
          <p><a class="btn btn-default" href="classes/" role="button">View details &raquo;</a></p>
        </div>
        <div class="col-md-4">
          <h2>Calendar Announcement</h2>
          <p>Students and staff will all be able to view this page from any web connected device. We can keep everyone up to speed on whats happening - as it's happening</p>
          <p><a class="btn btn-default" href="#" role="button">View details &raquo;</a></p>
       </div>
        <div class="col-md-4">
          <h2>Student Spotlight</h2>
          <p>We've talked about doing this kind of thing before. I think it's a nice idea. And look at all the space we're using with it!</p>
          <p><a class="btn btn-default" href="/students/" role="button">View details &raquo;</a></p>
        </div>
      </div>
    </div>

 {% endblock content %}
