{% extends "base.html" %}
{% block head_title %}DCCAEP{% endblock head_title %}
{% block content %}
    <!-- Main jumbotron for a primary marketing message or call to action -->
    <div class="jumbotron">
      <div class="container">
        <h1>Welcome to DCC Adult Education</h1>
        <p>We are a free adult education program serving the New Orleans Region. We offer classes for:
        </p>
        <ul>
          <li><p>HiSET or GED</p></li>
          <li><p>English language skills</p></li>
          <li><p>College and career skills</p></li>
        </ul>
        <p><a class="btn btn-lg btn-primary center-block" href="{% url 'people:prospect signup' %}" role="button">Register Here</a></p>
        <!--<p><a class="btn btn-lg btn-primary center-block" href="{% url 'people:prospect signup' %}" role="button">Contact Me</a></p> -->
      </div>
    </div>
    <div class="jumbotron">
      <div class="container">
        <h1>Bienvenido a DCC Adult Education</h1>
        <p>Bienvenido a DCC Adult Education. Somos un programa gratuito de educación para adultos al servicio de la región de Nueva Orleans. Ofrecemos clases para:
        </p>
        <ul>
          <li><p>HiSET o GED</p></li>
          <li><p>Destreza en lenguaje Ingles</p></li>
          <li><p>Habilidades universitarias y profesionales</p></li>
        </ul>
        <p><a class="btn btn-lg btn-primary center-block" href="{% url 'people:prospect signup' %}" role="button">Registrar aquí</a></p>
        <!--<p><a class="btn btn-lg btn-primary center-block" href="{% url 'people:prospect signup' %}" role="button">Contáctame</a></p>-->
      </div>
    </div>

 {% endblock content %}
