{% extends "base.html" %}
{% block head_title %}DCCAEP | Reports{% endblock head_title %}
{% block content %}
<h1>Reports</h1>
    <p><a href="{% url 'sections:active student csv' %}">Active Student Report</a></p>
    <p><a href="{% url 'sections:student enrollment csv' %}">Student Enrollment Report</a></p>
    <p><a href="{% url 'sections:wru course registration csv' %}">WRU Course Registration Report</a></p>
    <p><a href="{% url 'sections:atrium csv' %}">Atrium Export</a></p>
    <p><a href="{% url 'people:new student csv' %}">New Student Report</a></p>
    <p><a href="{% url 'people:intake retention csv' %}">Intake Retention Report</a></p>
    <p><a href="{% url 'sections:attendance csv' %}">Attendance Report</a></p>
    <p><a href="{% url 'assessments:event attendance csv' %}">Event Attendance Report</a></p>
    <p><a href="{% url 'sections:participation report' %}">Participation Report</a></p>
    <p><a href="{% url 'assessments:tabe csv' %}">Tabe Test Report</a></p>
    <p><a href="{% url 'assessments:clas-e csv' %}">CLAS-E Test Report</a></p>
    <p><a href="{% url 'coaching:ace enrollment csv' %}">ACE Enrollment Report</a></p>
    <p><a href="{% url 'coaching:exit exam csv' %}">Exit Exam Eligibility Report</a></p>
    <p><a href="{% url 'assessments:accelerated coaching' %}">Accelerated Coaching Report</a></p>
    <p><a href="{% url 'assessments:eligibility report' %}">Testing Eligibility Report</a></p>
    <p><a href="{% url 'coaching:coaching export' %}">Active Coaching Report</a></p>
    <p><a href="{% url 'people:prospect meeting attendance csv' %}">Prospect Meeting Attendance CSV</a></p>
    <p><a href="{% url 'assessments:test score storage report' %}">Test Score Storage Report</a></p>
    <p><a href="{% url 'sections:mondo attendance report' %}">Mondo Attendance Report</a></p>
    <p><a href="{% url 'semesters:teacher attendance report' %}">Teacher Attendance Report</a></p>
    <p><a href="{% url 'people:intercession report' %}">Intercession Report</a></p>
    <p><a href="{% url 'people:minor student report' %}">Minor Student Report</a></p>
    <p><a href="{% url 'sections:import reported enrollments' %}">Import Reported Enrollments</a></p>
    <p><a href="{% url 'sections:import reported attendance' %}">Import Reported Attendance</a></p>
    <p><a href="{% url 'sections:wru section export' %}">WRU Section Export</a></p>
    <p><a href="{% url 'inventory:staff checkout report' %}">Staff Item Checkout Report</a></p>
    <p><a href="{% url 'inventory:student checkout report' %}">Student Item Checkout Report</a></p>
    <p><a href="{% url 'inventory:combined checkout report' %}">Combined Item Checkout Report</a></p>
    <p><a href="{% url 'people:prospect export csv' %}">Prospect Report</a></p>
{% endblock %}
