{% extends "base.html" %}
{% block head_title %}DCCAEP{% endblock %}
{% block content %}
    <h1>Resources</h1>
        <h3><a target="_blank" href="https://docs.google.com/spreadsheets/d/1wdkWeCYHkA6frkfxbDq838Wq9wT2Ekls8y4qmEmk27w/edit#gid=1130424046">Teacher Absences</a>
        <h3><a target="_blank" href="https://drive.google.com/file/d/0B4tT2MtB4QelYmMybU5YOGtackU0QWxxV1JXb2xwOEtLck44/view?usp=sharing">PT Paper timesheet pdf</a>
        <h3><a target="_blank" href="https://drive.google.com/file/d/0B06hfmwwunCiV2pFYXVha3NycHc/view?usp=sharing">FT Paper Timesheet pdf</a>
        <h3><a target="_blank" href="https://drive.google.com/file/d/0B4tT2MtB4QelaFdRNFNVTXpWYWM/view?usp=sharing">Paper timesheet explanation</a>
        <h3><a target="_blank" href="https://drive.google.com/file/d/0B4tT2MtB4QelWWtXbGtWMVlHQXc/view?usp=sharing">Online timesheet how-to infographic</a>
        <h3><a target="_blank" href="http://dccaep.wixsite.com/support/book-online">Student support website</a>
        <h3><a target="_blank" href="https://docs.google.com/forms/d/e/1FAIpQLSffi_5sz_LJkmxpEqO2gouG-GY9LlA9kKqkMwdznnMI9eNjjQ/viewform ">Incident report</a>
        <h3><a target="_blank" href="https://drive.google.com/file/d/0B4tT2MtB4QelNmtKRVJaZ05WdkU/view?usp=sharing">How to schedule video 1</a>
        <h3><a target="_blank" href="https://drive.google.com/file/d/0B4tT2MtB4QelaVR0YnVSUEdaXzA/view?usp=sharing">How to schedule video 2</a>
        <h3><a target="_blank" href="https://drive.google.com/file/d/0B4tT2MtB4QelTjJQczFJQk0tck0/view?usp=sharing">How to do attendance video</a>
        <h3><a target="_blank" href="https://docs.google.com/spreadsheets/d/1h4zmfy6mAtlgnYTzxZLzlKr7ouQ239sYdCdX3fXUCSA/edit?usp=sharing">Course standards Guide ELA</a>
        <h3><a target="_blank" href="https://docs.google.com/spreadsheets/d/1KzjAdREEBI01pMyGcc6_zq5mU_1zzI-YmA-Z7oEhGLs/edit?usp=sharing">Course Standards Guide Math</a>
{% endblock content %}