{% extends "base.html" %}
{% load crispy_forms_tags %}
{% block head_title %}DCCAEP | Inventory{% endblock head_title %}

{% block content %}
    <h1>Inventory</h1>
    <table class="table">
        <tr>
            <th>Category</th>
            <th>Available</th>
        </tr>
        {% if is_paginated %}
            {% include 'components/pagination.html' %}
        {% endif %}
        {% for category in object_list %}
        <tr>
            <td>{{ category.name }}</td>
            {% if student %}
            <td><a href="{% url 'inventory:select item' student_slug=student.slug category=category.id %}">{{ category.available.count }}</a></td>
            {% elif staff %}
            <td><a href="{% url 'inventory:select item' staff_slug=staff.slug category=category.id %}">{{ category.available.count }}</a></td>
            {% endif %}
        </tr>
        {% endfor %}
    </table>
{% endblock content %}