{% extends "base.html" %}
{% block head_title %}DCCAEP | Add Classes{% endblock head_title %}
{% block content %}
    <h1>Classes</h1>
    <table class="table">
	    <tr>
	    	<th>Enroll</th>
	    	<th>Class</th>
	    	<th>Instructor</th>
	    	<th>Time</th>
	    	<th>Seats</th>
	    	<th>Open Seats</th>
	    </tr>
	    {% for section in object_list %}
	    <tr>
	    	<td><a class="btn btn-default btn-sm" href="{{ section.pk }}">Enroll</a></td>
	        <td><a href="{{ section.get_absolute_url }}">{{ section.title }}</a></td>
	        <td>{{ section.teacher }}</td>
	        <td>{{ section.start_time }} to {{ section.end_time }}</td>
	        <td>{{ section.seats }}</td>
	        <td>{{ section.open_seats }}</td>
	        <td>{{ section.teacher }}</td>
	        <td>{{ section.start_time }} to {{ section.end_time }}</td>
	        <td><a class="btn btn-default btn-sm" href="{{ section.pk }}">Add</a></td>
	  	</tr>
    	{% endfor %}
    </table>
{% endblock content %}