<table class="table">
    <tr>
        <th><h4></h4></th>
        <th>Total Hours</th>
        {% for day in days %}
        <th><a href="{% url 'sections:daily attendance' slug=section.slug attendance_date=day %}">{{day|date:"M - d"}}</a></th>
        {% endfor %}
    </tr>
    {% if section.get_active %}
    <tr><th><h4>Active</h4></th></tr>
    {% for student in active %}
        {% include 'components/active_attendance_row.html' %}
    {% endfor %}
    <tr><th><h5>Need Testing</h5></th></tr>
    {% for student in a_needs_testing %}
        {% include 'components/active_attendance_row.html' %}
    {% endfor %}
    {% endif %}
    {% if section.get_waiting %}
    <tr><td><h4>Waitlist</h4></td></tr>
        {% for student in waitlist %}
            {% include 'components/inactive_attendance_row.html' %}
        {% endfor %}
    <tr><td><h5>Need Testing</h5></td></tr>
        {% for student in w_needs_testing %}
            {% include 'components/inactive_attendance_row.html' %}
        {% endfor %}
    {% endif %}
    {% if section.get_completed %}
    <tr><td><h4>Completed</h4></td></tr>
        {% for student in completed %}
            {% include 'components/inactive_attendance_row.html' %}
        {% endfor %}
    {% endif %}
    {% if section.get_withdrawn %}
    <tr><td><h4>Withdrawn</h4></td></tr>
        {% for student in withdrawn %}
            {% include 'components/inactive_attendance_row.html' %}
        {% endfor %}
    {% endif %}
    {% if section.get_dropped %}
    <tr><td><h4>Dropped</h4></td></tr>
        {% for student in dropped %}
            {% include 'components/inactive_attendance_row.html' %}
        {% endfor %}
    {% endif %}
    <tr><td><h4>Totals</h4></td></tr>
    <tr>
        <td>Students Present</td>
        <td></td>
        {% for total in daily_present %}
        <td>{{total}}</td>
        {% endfor %}
    </tr>
    <tr>
        <td>Students Enrolled</td>
        <td></td>
        {% for total in daily_absent %}
        <td>{{ count }}</td>
        {% endfor %}
    </tr>
    <tr>
        <td>Attendance Rate</td>
        <td></td>
        {% for day in section.get_daily_attendance_rate %}
        <td>{{day}}</td>
        {% endfor %}
    </tr>
</table>
