{% extends "base.html" %}
{% block content %}
    <h1>Attendance Overview for {{ section.title }}</h1>
    <a class="btn btn-default btn-sm" href="{{ section.get_absolute_url }}">Back to Class</a>
    <h3>{{ section.teacher }} | {{section.get_days_str }} | {{ section.start_time }}-{{section.end_time}}</h3>
    <table class="table">
        <tr>
            <th></th>
            {% for day in section.get_class_dates %}
            <th><a href="{{day|date:"Y-m-d"}}">{{day|date:"m-d"}}</a></th>
            {% endfor %}
        </tr>
        <tr><td><h4>Active</h4></td></tr>
        {% for student in section.get_active %}
            <tr>
                <td><a href='{{ student.get_absolute_url }}'>{{ student.student }}</a></td>
                {% for att in student.attendance.all %}
                    <td><a href='{{ att.get_absolute_url }}'>{{att.attendance_type}}({{ att.hours }})</a>{{ att.attendance_date|date:"m-d" }}</td>
                {% endfor %}
            </tr>
        {% endfor %}
        {% if section.get_dropped %}
        <tr><td><h4>Dropped</h4></td></tr>
            {% for student in section.get_dropped %}
                <tr>
                    <td><a href='{{ student.get_absolute_url }}'>{{ student.student }}</a></td>
                    {% for att in student.attendance.all %}
                        <td>{{att.attendance_type}}({{ att.hours }})</td>
                    {% endfor %}
                </tr>
            {% endfor %}
        {% endif %}
        {% if section.get_waiting %}
        <tr><td><h4>Waiting</h4></td></tr>
            {% for student in section.get_waiting %}
                <tr>
                    <td><a href='{{ student.get_absolute_url }}'>{{ student.student }}</a></td>
                    {% for att in student.attendance.all %}
                        <td>{{att.attendance_type}}({{ att.hours }})</td>
                    {% endfor %}
                </tr>
            {% endfor %}
        {% endif %}
    </table>
{% endblock content %}