{% extends "base.html" %}
{% load crispy_forms_tags %}
{% block head_title %}DCCAEP | Cancellations{% endblock head_title %}

{% block content %}
    {% if date_range == "current" %}
    <h1>Cancelled Classes for {{today}}</h1>
    {% elif date_range == "past" %}
    <h1>Past Cancelled Classes</h1>
    {% elif date_range == "future" %}
    <h1>Future Cancelled Classes</h1>
    {% endif %}
    <a class="btn btn-default" href="{% url 'past cancellations list' %}">Past Cancellations</a>
    <a class="btn btn-default" href="{% url 'current cancellations list' %}">Today's Cancellations</a>
    <a class="btn btn-default" href="{% url 'future cancellations list' %}">Future Cancellations</a>
    <table class="table">
        <tr>
            <th>Date</th>
            <th>Site</th>
            <th>Class</th>
            <th>Instructor</th>
            <th>Time</th>
        </tr>
        {% if is_paginated %}
            {% include 'components/pagination.html' %}
        {% endif %}
        {% for cancellation in object_list %}
        <tr>
            <td>{{ cancellation.cancellation_date }}</td>
            <td>{{ cancellation.section.site }}</td>
            <td>{{ cancellation.section.title }}</td>
            <td>{{ cancellation.section.teacher }}</td>
            <td>{{ cancellation.section.start_time }} - {{ cancellation.section.end_time }}</td>
        </tr>
        {% endfor %}
    </table>
{% endblock content %}