{% extends "base.html" %}
{% load crispy_forms_tags %}
{% block head_title %}DCCAEP | Classes{% endblock head_title %}

{% block content %}
    <h1>Classes</h1>
        <form id='class-filter' class='form-inline' method='get' action="{% url 'sections:class list' %}">
        {% crispy form %}
        <button type="submit" class="btn btn-default btn-sm">Filter Classes</button>
    <a href="{% url 'sections:class list' %}" class="btn btn-default btn-sm">Clear</a>
    <table class="table">
	    <tr>
	    	<th>Site</th>
	    	<th>Program</th>
	    	<th>Class</th>
            <th>Active Students</th>
	    	<th>Open Seats</th>
	    	<th>Seats</th>
	    	<th>Instructor</th>
	    	<th>Days</th>
	    	<th>Time</th>
	    </tr>
        {% if is_paginated %}
            {% include 'components/pagination2.html' with form_target='class-filter' %}
        {% endif %}
	    {% for section in object_list %}
	    <tr>
	    	<td>{{ section.site }}</td> 
	    	<td>{{ section.program }}</td>  
	        <td><a href="{{ section.get_absolute_url }}">{{ section.title }}</a></td>
            <td>{{ section.get_active.count }}</td>
	        <td>{{ section.open_seats }}</td>
	        <td>{{ section.seats }}</td>	        
	        <td>{{ section.teacher }}</td>
	        <td>{{ section.get_days_str }}
	        <td>{{ section.start_time }} to {{ section.end_time }}</td>
	  	</tr>
    	{% endfor %}
    </table>
{% endblock content %}