{% extends "base.html" %}
{% block content %}
    <h1>{{ section.title }}</h1>
    <h3>{{ section.teacher }} | {{ section.start_time }}-{{section.end_time}}</h3>
    <table class="table">
        <tr>
            <th>Students</th>
            <th>Phone</th>
            <th>Enrollment Status</th>
            <th># Attended</th>
            <th># Absent</th>
        </tr>
        {% for student in students %}
        <tr>
            <td><a href='{{ student.student.get_absolute_url }}'>{{ student.student }}</a></td>
            <td>{{ student.student.phone }}
            <td>{{ student.get_status_display }}</td>
            <td>{{ student.times_attended }}</td>
            <td>{{ student.times_absent }}</td>
        </tr>
        {% endfor %}
    </table>
    <a class="btn btn-default btn-sm" href="add-student/" role="button">Add Student &raquo;</a>
    <a class="btn btn-default btn-sm" href="attendance/" role="button">Attendance &raquo;</a>
{% endblock content %}
