{% extends "base.html" %}
{% block head_title %}DCCAEP | {{section}} {% endblock head_title %}
{% block content %}
    <h1>{{ section.title }}</h1>
    <h3>{{ section.teacher }} | {{ section.start_time }}-{{section.end_time}}</h3>
    {% if section.room != '' %}
        <h3>{{section.site}} Room {{section.room}}</h3>
    {% else %}
        <h3>{{section.site}}</h3>
    {% endif %}
    <a class="btn btn-default btn-sm" href="{% url 'sections:class roster csv' slug=section.slug %}" role="button">Export Roster</a>
    <a class="btn btn-default btn-sm" href="{% url 'sections:cancel class' slug=section.slug %}" role="button">Cancel Class</a>
    <table class="table">
        <tr>
            <th>Student</th>
            <th>WRU ID</th>
            <th>Phone</th>
            <th>Email</th>
            <th>G Suite Email</th>
            <th>Enrollment Status</th>
            <th>Test Assignment</th>
            <th># Attended</th>
            <th># Absent</th>
            <th>Drop</th>
        </tr>
        {% for student in students %}
        <tr>
            <td><a href='{{ student.student.get_absolute_url }}'>{{ student.student }}</a></td>
            <td>{{ student.student.WRU_ID  }}</td>
            <td>{{ student.student.phone }}</td>
            <td>{{ student.student.email }}</td>
            <td>{{ student.student.elearn_record.g_suite_email }}</td>
            <td>{{ student.get_status_display }}</td>
            {% if student.status == 'A' %}
                <td>{{ student.student.tests.test_assignment }}</td>
            {% else %}
                <td></td>
            {% endif %}
            <td>{{ student.times_attended }}</td>
            <td>{{ student.times_absent }}</td>
            <td><a class="btn btn-default btn-sm" href="{% url 'sections:drop enrollment' pk=student.pk %}" role="button">Drop Student</a></td>
        </tr>
        {% endfor %}
    </table>
    <a class="btn btn-default btn-sm" href="{% url 'sections:add student' slug=section.slug %}" role="button">Add Student &raquo;</a>
    <a class="btn btn-default btn-sm" href="{% url 'sections:attendance overview' slug=section.slug %}" role="button">Attendance &raquo;</a>
    <a class="btn btn-default btn-sm" href="{% url 'sections:testing preview' slug=section.slug %}" role="button">Testing Preview &raquo;</a>
    {% if section.course.skills_view %}
    <a class="btn btn-default btn-sm" href="{% url 'sections:skills overview' slug=section.slug %}" role="button">Skills Overview &raquo;</a>
    {% endif %}
    {% if section.g_suite_id %}
    <br></br>
    <p> G Suite ID: {{ section.g_suite_id }}</p>
    <p> Link to Classroom Section: <a href='{{section.g_suite_link}}'>{{ section.g_suite_link }}</a></p>
    {% endif %}
{% endblock content %}
