{% extends "base.html" %}
{% load crispy_forms_tags %}
{% block head_title %}DCCAEP | Daily Attendance{% endblock head_title %}

{% block content %}
<h2>Attendance for {{ section.title }} on {{ attendance_date }}</h2>
<a class="btn btn-default" href="{% url 'sections:sign in' slug=section.slug attendance_date=attendance_date %}" role="button">Print Sign-in&raquo;</a>
<form method="post">
    {% csrf_token %}
    {{ formset.management_form }}
    <table>
        {% for form in formset %}
        <tr>
        	{{ form.id }}
	        <td>{{ form.instance.enrollment.student}}</td>
	        <td>{% crispy form %}<td>
	    </tr>
        {% endfor %}
    </table>
    <button type="submit" class="btn btn-success">Update Attendance</button>
</form>
{% endblock content %}