{% extends "base.html" %}
{% load crispy_forms_tags %}

{% block content %}
	<div class="embed-responsive embed-responsive-16by9">
	<iframe class="embed-responsive-item" src="https://docs.google.com/spreadsheets/d/1bbYN6a9v4H5loGRsluhIVEsjllDvH8EdWFNKDGjiJ_A/edit?usp=sharing" class="col-md-8"></iframe>
    </div>
    <form class='form-inline' action="" method="get">
        {{ filter_form }}
        <button type="submit" class="btn btn-default">Filter Choices</button>
    </form>
    <form class='form-inline' action='' method="post">
        {% csrf_token %}
        {{ form }}
        <button type="submit" class="btn btn-success" value="submit">Enroll</button>
    </form>    
{% endblock content %}
