{% extends "base.html" %}
{% block head_title %}DCCAEP | G-Suite Attendance{% endblock head_title %}
{% block content %}
    <h1>G-Suite Assignment Attendance for {{ section.title }}</h1>
    <a class="btn btn-default" href="{{ section.get_absolute_url }}">Back to Class</a>
    <h3>{{ section.teacher }} | {{section.get_days_str }} | {{ section.start_time }}-{{section.end_time}}</h3>
    <table class='table'>
     <p>{% for key, value in scores.items %}
        <tr>
            <td>{{ key.student }}</td>
            {% for sub in value %}
                <td>Date: {{ sub.0|date:"m-d-y" }} Hours: {{ sub.1 }}</td>
            {% endfor %}
        </tr>
        {% endfor %}
    </p> 
    </table>
{% endblock content %}