{% extends "base.html" %}
{% block head_title %}DCCAEP | Print Sign-In{% endblock head_title %}
{% block content %}
    <h1>{{ section.title }} Sign-in Sheet </h1>
    <h3>{{ section.teacher }} | {{ section.start_time }}-{{section.end_time}}</h3>
    <h3>{{section.semester }} | {{ section.site.code }} | {{ attendance_date }}</h3>
    <table class="table table-bordered">
        <tr>
            <th class="col-md-2">Student</th>
            <th class="col-md-6">Signature</th>
            <th class="col-md-1">Time In</th>
            <th class="col-md-1">Time Out</th>
        </tr>
        {% for student in active %}
        <tr>
            <td>{{ student.student }} ({{ student.times_absent}})</td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
        {% endfor %}
    </table>
{% endblock content %}