{% extends "base.html" %}

{% block content %}
    <h1>{{student}}'s Classes {{today}}</h1>
    <h3>Current Classes</h3>
    <table class='table'>
        <tr>
            <th>Class Name</th>
            <th>Teacher</th>
            <th>Days</th>
            <th>Start Time</th>
            <th>End Time</th>
            <th>Start Date</th>
            <th>End Date</th>
            <th>Enrollment Status</th>
        </tr>
    {% for enrollment in student.current_classes %}
        <tr>
        	<td><a href="{{ enrollment.get_absolute_url }}">{{ enrollment.section.title }}</a></td>
            <td>{{ enrollment.section.teacher }}</td>
            <td>{{ enrollment.section.get_days_str }}</td>
            <td>{{ enrollment.section.start_time }}</td>
            <td>{{ enrollment.section.end_time }}</td>
            <td>{{ enrollment.section.semester.start_date }}</td>
            <td>{{ enrollment.section.semester.end_date }}</td>
            <td>{{ enrollment.get_status_display }}</td>
        </tr>
    {% endfor %}
    </table>
    <h3>Past Classes</h3>
    <table class='table'>
        <tr>
            <th>Class Name</th>
            <th>Teacher</th>
            <th>Days</th>
            <th>Start Time</th>
            <th>End Time</th>
            <th>Start Date</th>
            <th>End Date</th>
            <th>Enrollment Status</th>
        </tr>
    {% for enrollment in student.past_classes %}
        <tr>
            <td><a href="{{ enrollment.get_absolute_url }}">{{ enrollment.section.title }}</a></td>
            <td>{{ enrollment.section.teacher }}</td>
            <td>{{ enrollment.section.get_days_str }}</td>
            <td>{{ enrollment.section.start_time }}</td>
            <td>{{ enrollment.section.end_time }}</td>
            <td>{{ enrollment.section.semester.start_date }}</td>
            <td>{{ enrollment.section.semester.end_date }}</td>
            <td>{{ enrollment.get_status_display }}</td>
        </tr>
    {% endfor %}    
    </table>
    <p><a class="btn btn-default" href="{% url 'people:add class' slug=student.slug %}" role="button">Add New Class &raquo;</a>
    <a class="btn btn-default" href="{%url 'people:print schedule' slug=student.slug %}" role="button">Print Schedule &raquo;</a>
    </p>
{% endblock %}
