{% extends "base.html" %}
{% load crispy_forms_tags %}
{% block head_title %}DCCAEP | Active Student Report{% endblock head_title %}

{% block content %}
    <h1>Student Lists</h1>
    <div class="well">
        <form class="form-inline" action="" method="post">
            {% csrf_token %}
            {% crispy form %}
            <button type="submit" class="btn btn-default" value"filter">Export Students</button>
        </form>
        <p></p>
    <p>This tool can export lists of students based on enrollment.</p>
    <p>Choose sessions to select only students enrolled in classes in that session. </p> 
    <p>Choose a site to select only students enrolled in classes at that site.</p> 
    <p>Choose a program to select only students enrolled in classes in that program.</p> 
    </div>
{% endblock content %}