{% extends "base.html" %}
{% block content %}
{% load staticfiles %}
    <p></p>
    <img src="{% static 'logo.png' %}" alt="Logo">
    <h1>Official Class Schedule for {{student}}</h1>
    <table class='table'>
        <tr>
            <th>Class Name</th>
            <th>Teacher</th>
            <th>Room</th>
            <th>Days</th>
            <th>Start Time</th>
            <th>End Time</th>
            <th>Start Date</th>
            <th>End Date</th>
        </tr>
    {% for enrollment in student.active_classes %}
        <tr>
        	<td><h4>{{ enrollment.section.title }}</h4></td>
            <td><h4>{{ enrollment.section.teacher }}</h4></td>
            <td><h4>{{ enrollment.section.room }}</h4></td>
            <td><h4>{{ enrollment.section.get_days_str }}</h4></td>
            <td><h4>{{ enrollment.section.start_time }}</h4></td>
            <td><h4>{{ enrollment.section.end_time }}</h4></td>
            <td><h4>{{ enrollment.section.semester.start_date }}</h4></td>
            <td><h4>{{ enrollment.section.semester.end_date }}</h4></td>
        </tr>
    {% endfor %}
    </table>
{% endblock %}