{% extends "base.html" %}
{% block head_title %}DCCAEP | {{student}} Attendance{% endblock head_title %}
{% block content %}
{% load static %}
    <p></p>
    <img src="{% static 'logo.png' %}" alt="Logo">
    <h1>Official Attendance Record for {{student}}</h1>
    {%include 'components/student_nav.html' %}
    {% for enrollment in object_list %}
        <table class="table">
            <tr>
                <th><h4>{{ enrollment.section.title }}</h4></th>
                {% for day in enrollment.section.get_class_dates %}
                <th>{{day|date:"M - d"}}</th>
                {% endfor %}
            </tr>
            <tr>
                <td>{{ enrollment.section.semester.start_date|date:"m-d-y" }} to {{ enrollment.section.semester.end_date|date:"m-d-y" }}</td>
                {% for att in enrollment.attendance.all %}
                    <td>
                        {% if att.attendance_type == "X" %}
                            -
                        {% elif att.attendance_type == 'C' %}
                            <span class="glyphicon glyphicon-asterisk" aria-hidden="true"></span>
                        {% else %}
                            {{ att.hours }} 
                        {% endif %}
                    </td>
                {% endfor %}
            </tr>
        </table>
    {% endfor %}    
    </table>
{% endblock %}