{% extends "base.html" %}
{% load crispy_forms_tags %}
{% block head_title %}DCCAEP | {{student}}'s Classes{% endblock head_title %}
{% block content %}
{% load rules %}
    <h1>{{student}}'s Classes {{today}}</h1>
    <!-- {% if student.tests %}
        {% test_rule 'pretested' student as pretested %}
            {% if not pretested %}
            <h2>No Valid Prestest!</h2>
            <h4>This student will not be able to enroll until they take a pre-test</h4>>
            {% endif %}
    {% else %}
        <h2>Student has no Testing History</h2>
        <h4>Please contact a Site Leader to correct this issue</h4>
    {% endif %} -->
    {% include 'components/student_nav.html' %}
    {% if current %}
    <h3>Current Classes <a href="{% url 'people:student past classes'  slug=student.slug %}" class="btn btn-default">Past</a></h3>
    {% else %}
    <h3>Past Classes <a href="{% url 'people:student current classes' slug=student.slug %}" class="btn btn-default">Current</a></h3>
    {% endif %}
    <table class='table'>
        <tr>
            <th>Class Name</th>
            <th>Teacher</th>
            <th>Days</th>
            <th>Site</th>
            <th>Room</th>
            <th>Start Time</th>
            <th>End Time</th>
            <th>Start Date</th>
            <th>End Date</th>
            <th>Enrollment Status</th>
        </tr>
        {% if is_paginated %}
            {% include 'components/pagination.html' %}
        {% endif %}
    {% for enrollment in object_list %}
        <tr>
        	<td><a href="{{ enrollment.get_absolute_url }}">{{ enrollment.section.title }}</a></td>
            <td>{{ enrollment.section.teacher }}</td>
            <td>{{ enrollment.section.get_days_str }}</td>
            <td>{{ enrollment.section.site }}</td>
            <td>{{ enrollment.section.room }}</td>
            <td>{{ enrollment.section.start_time }}</td>
            <td>{{ enrollment.section.end_time }}</td>
            <td>{{ enrollment.section.start_date }}</td>
            <td>{{ enrollment.section.end_date }}</td>
            <td>{{ enrollment.get_status_display }}</td>
        </tr>
    {% endfor %}
    </table>
    <!--{% if pretested %} --> <!-- {% endif %} -->
    <p><a class="btn btn-default" href="{% url 'people:add class' slug=student.slug %}" role="button">Add New Class &raquo;</a>
    
    <a class="btn btn-default" href="{%url 'people:print schedule' slug=student.slug %}" role="button">Print Schedule &raquo;</a>
    </p>
{% endblock %}
