{% extends "base.html" %}
{% block head_title %}DCCAEP | Semester Overview{% endblock head_title %}
{% block content %}
    <h1>Sessions</h1>
        {% if is_paginated %}
            {% include 'components/pagination.html' %}
        {% endif %}
      <table class='table'>
      	<tr>
      		<td>Semester</td>
      		<td>Dates</td>
      		<td>Sections</td>
          <td>Unique Students</td>
      		<td>Total Enrollments</td>
          <td>Completed</td>
          <td>Dropped</td>
          <td>Total Attendance Days</td>
          <td>Days Present</td>
          <td>Days Absent</td>
		</tr>
		{% for semester in object_list %}
	      	<tr>
	          <td><a href="{{ semester.get_absolute_url }}">{{ semester.title }}</a></td>
	          <td>{{ semester.start_date }} - {{ semester.end_date }}</td>
	          <td>{{ semester.section_count }}</td>
            <td>{{ semester.unique_student_count }}</td>
	          <td>{{ semester.enrollment_count }}</td>
            <td>{{ semester.completed_enrollment_count }}</td>
            <td>{{ semester.dropped_enrollment_count }}</td>
            <td>{{ semester.total_attendance_count }}</td>
            <td>{{ semester.present_attendance_count }}</td>
            <td>{{ semester.absent_attendance_count }}</td>
          </tr>
	    	</tr>
    	{% endfor %}
      </table>
{% endblock content %}
