{% extends "base.html" %}
{% block head_title %}DCCAEP | {{semester}}{% endblock head_title %}
{% block content %}
    <h1>{{ semester.title }}</h1>
    <h4>{{ semester.start_date }} - {{semester.end_date}}</h4>
    {% include 'components/semester_nav.html' %}
    <br>

    <table class="table">
        <tr>
            <td>Time</td>
            {% for day in days%}
            <td>{{day}}</td>
            {% endfor %}
        </tr>
        {% for time, rate_list in times.items %}
        <tr>
            <td>{{time}}</td>
            {% for daily_rate in rate_list %}
            <td>{{daily_rate}}</td>
            {% endfor %}
        </tr>
        {% endfor %}
    </table>


{% endblock content %}
