[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
amqp = "*"
asgiref = "*"
"backports.csv" = "*"
beautifulsoup4 = "*"
billiard = "*"
cachetools = "*"
celery = "*"
certifi = "*"
chardet = "*"
click = "*"
click-didyoumean = "*"
click-plugins = "*"
click-repl = "*"
decorator = "*"
defusedxml = "*"
diff-match-patch = "*"
django = "*"
dj-database-url = "*"
django-anymail = "*"
django-author = "*"
django-crispy-forms = "*"
django-formtools = "*"
django-import-export = "*"
et-xmlfile = "*"
future = "*"
google-api-python-client = "==1.7.11"
google-auth = "==1.6.3"
google-auth-httplib2 = "*"
gunicorn = "*"
httplib2 = "*"
idna = "*"
importlib-metadata = "*"
jdcal = "*"
kombu = "*"
lxml = "*"
markuppy = "*"
more-itertools = "*"
oauth2client = "*"
odfpy = "*"
openpyxl = "*"
plivo = "*"
prompt-toolkit = "*"
psycopg2 = "*"
pyasn1 = "*"
pyasn1-modules = "*"
pyjwt = "*"
pyparsing = "*"
pytz = "*"
pyyaml = "*"
redis = "*"
requests = "*"
rsa = "*"
rules = "*"
setuptools-git = "*"
six = "*"
soupsieve = "*"
sqlparse = "*"
style = "*"
tablib = "*"
unicodecsv = "*"
unipath = "*"
update = "*"
uritemplate = "*"
urllib3 = "*"
vine = "*"
wcwidth = "*"
whitenoise = "*"
xlrd = "*"
xlwt = "*"
zipp = "*"
selenium = "*"
crispy-bootstrap3 = "*"

[dev-packages]

[requires]
python_version = "3.11"
