<tr>
    <td><a href='{{ student.get_absolute_url }}'>{{ student.student }}</a></td>
    <td>{{ student.total_hours }}</td>
    {% for attendance in student.attendance_table_row %}
        <td>
        {% for att in attendance %}
            <a href='{{ att.get_absolute_url }}'>
            {% if att.attendance_type == "X" %}
                -
            {% elif att.attendance_type == 'C' %}
                <span class="glyphicon glyphicon-asterisk" aria-hidden="true"></span>
            {% else %}
                {{ att.hours }} 
            {% endif %}
            </a>
            {% if not forloop.last %}<br>{%endif%}
        {% endfor %}
        </td>
    {% endfor %}
</tr>