{% if request.user.staff %}
    <ul class="nav navbar-nav">
        <li><a href="{% url 'people:staff home' request.user.staff.slug %}">Home</a></li>
        <li><a href="{% url 'people:staff list' %}">Staff</a></li>
        <li><a href="{% url 'people:student list'%}">Students</a></li>
        <li><a href="{% url 'sections:class list'%}">Classes</a></li>
        <li><a href="{% url 'assessments:current event list' %}">Testing</a></li>
        <li><p class="navbar-text">|</p></li>
        <li><a href="https://docs.google.com/document/d/1C4B0sdH1bznRYVfH7JmoLX1mDWFTiTSGtilpzJ4PjRA/edit" target="_blank">Resources</a></li>
        <li><a href="https://docs.google.com/document/d/1kQBSZLh4ig8acZExGSHKCLIvl-imIbDJJE55u15Iovw/edit?usp=sharing" target="_blank">Tutorials</a></li>
        <li><a href="https://docs.google.com/forms/d/e/1FAIpQLSc4vN2T4zU6N6UtXxyTwcitWwIw_LIzZbnKSlpTH6prIZ2dCw/viewform" target="_blank">Feedback</a></li>
    </ul>
{% else %}
    <ul class="nav navbar-nav">
        <li><a href="{% url 'people:student list'%}">Students</a></li>
        <li><a href="{% url 'sections:class list'%}">Classes</a></li>
    </ul>
{% endif %}
    <div class="navbar-right">
        <a class="btn btn-success navbar-btn btn-sm" href="/accounts/logout" role="button">Logout {{ request.user }}</a>
    </div>
 