{% if request.user.staff %}
    <ul class="nav navbar-nav">
        <li><a href="{% url 'people:staff home' request.user.staff.slug %}">Home</a></li>
        <li><a href="{% url 'people:student list'%}">Students</a></li>
        <li><a href="{% url 'sections:class list'%}">Classes</a></li>
    </ul>
    <div class="navbar-right">
        <p class="navbar-text">Logged in as: {{ request.user }}</p>
        <a class="btn btn-success navbar-btn" href="/accounts/logout" role="button">Logout</a>
    </div>
{% else %}
    <ul class="nav navbar-nav">
        <li><a href="{% url 'people:student list'%}">Students</a></li>
        <li><a href="{% url 'sections:class list'%}">Classes</a></li>
    </ul>
    <div class="navbar-right">
        <p class="navbar-text">Logged in as: {{ request.user }}</p>
        <a class="btn btn-success navbar-btn" href="/accounts/logout" role="button">Logout</a>
    </div>
{% endif %}