{% extends "base.html" %}
{% load crispy_forms_tags %}
{% block head_title %}DCCAEP | Meeting Note Form{% endblock head_title %}
{% block content %}
<h1>Meeting Note</h1>
<div class="well">
    <form method="post">
            {% crispy form %}
        <button class="btn btn-success btn-lg center-block" type="submit" value="Submit">Submit</button>
    </form>
</div>
    {% if latest is not None %}
    <h3>Last Meeting</h3>
    <h4>Date and Time</h4>
        <p>{{ latest.meeting_date }} from {{ latest.start_time }} to {{ latest.end_time }}</p>
    <h4>Meeting Topic</h4>
        <p>{{ latest.meeting_topic }}</p>
    <h4>Next Steps</h4>
        <p>{{ latest.next_steps }}</p>
    <h4>Notes</h4>
        <p>{{ latest.notes }}</p>
    {% endif %}
{% endblock content %}