{% extends 'base.html' %}
{% block head_title %}DCCAEP | Meeting Note{% endblock head_title %}

{% block content %}
    <h1>Meeting Note</h1>
    <a type="button" class="btn btn-default" role="button" href="{% url 'coaching:meeting note update' pk=note.pk %}">Update Note</a>
    <h4>Coachee / Coach</h4>
        <p>{{ note.coaching.coachee }} / {{ note.coaching.coach }}</p> 
    <h4>Date and Time</h4>
        <p>{{ note.meeting_date }} from {{ note.start_time }} to {{ note.end_time }}</p>
    <h4>{{ note.get_contact_type_display }}</h4>
    <h4>Meeting Topic</h4>
        <p>{{ note.meeting_topic }}</p>
    <h4>Next Steps</h4>
        <p>{{ note.next_steps }}</p>
    <h4>Notes</h4>
        <p>{{ note.notes }}</p>
    <hr>
    <h2>Legacy Data</h2>
    <p>May not exist</p>
    <h4>{{ note.get_meeting_type_display }}</h4>
    <h4>Progress</h4>
        <p>{{ note.progress }}</p>
{% endblock %}