{% extends "base.html" %}

{% block content %}
    <h1><a href="{% url 'people:student detail' slug=student.slug %}">{{ student }}</a></h1>
    <a type="button" class="btn btn-default" role="button" href="{% url 'coaching:update profile' slug=student.slug %}">Update Info</a>
    <a type="button" class="btn btn-default" role="button" href="{% url 'coaching:coaching create' slug=student.slug %}">Assign Coach</a>
    <table class='table'>
        <td>Birthday</td> 
        <td>{{ student.dob }}</td>
      </tr>
      <tr>
        <td>WRU ID</td>
        <td>{{ student.WRU_ID }}</td>
      </tr>
      <tr>
        <td>Prefered Mode of Contact</td>
        <td>{{ profile.contact_preference }}</td>
      </tr>
      <tr>
        <td>Personal E-Mail</td>
        <td>{{ student.email }}</td>
      </tr>
      {% if student.elearn_record %}
      <tr>
        <td>G-Suite Email</td>
        <td>{{ student.elearn_record.g_suite_email }}</td>
      </tr>
      {% endif %}
      <tr>
        <td>Personal Cell </td>
        <td>{{ student.phone }}</td>
      </tr>
      <tr>
        <td>Device Used for Online Learning</td>
        <td>{{ profile.device }}</td>
      </tr>
      <tr>
        <td>Hours of Availability</td>
        <td>{{ profile.get_availability_display }}</td>
      </tr>
      <tr>
        <td><h3>Academic History</h3></td>
        <td></td>
      </tr>
      <tr>
        <td>Last Grade Completed</td>
        <td>{{ profile.get_grade_level_display }}</td>
      </tr>
      <tr>
        <td>Did you receive any special help</td>
        <td>{{ profile.get_special_help_display }}</td>
      </tr>
      <tr>
        <td>Entry GAIN Score</td>
        <td>{{profile.student.tests.gain_tests.first}}</td>
      </tr>
      <tr>
        <td>Program Completion Goal</td>
        <td>{{ profile.completion_time }}</td>
      </tr>
      <tr>
        <td><h3>Coaching Info</h3></td>
        <td></td>
      </tr>
      <tr>
        <td>Optional Medical Information Question</td>
        <td>{{ profile.conditions }}</td>
      </tr>
      <tr>
        <td>Personal Goal</td>
        <td>{{ profile.personal_goal}}</td>
      </tr>
      <tr>
        <td>Support me by...</td>
        <td>{{ profile.frustrated }}</td>
      </tr>
      <tr>
        <td>Additional Info</td>
        <td>{{ profile.anything_else }}</td>
      </tr>
    </table>
{% endblock content %}