{% extends "orientation_base.html" %}
{% block head_title %}DCCAEP Orientation{% endblock head_title %}
{% block content %}
<div class='text-center'>
<h1>Welcome!</h1>
<h1>¡Bienvenido!</h1>
<br>
<div class="well">
<h4>Welcome to Adult Education at Delgado Community College!</h4>
<br>
<p><a class="btn btn-primary btn-lg center-block" href="{% url 'people:orientation overview' slug=slug %}" role="button">Orientation in English</a></p>
<br>
<h4>¡Bienvenido a Educación para adultos en Delgado Community College!</h4>
<br>
<p><a class="btn btn-primary btn-lg center-block" href="{% url 'people:spanish orientation overview' slug=slug %}" role="button">Orientación en Español</a></p>
</div>
</div>
{% endblock content %}