{% extends "orientation_base.html" %}
{% block head_title %}DCCAEP Orientation{% endblock head_title %}
{% block content %}

<h1 class="text-center">Welcome!</h1>
<h1 class="text-center">¡Bienvenido!</h1>
<p><a class="btn btn-primary btn-lg center-block" href="{% url 'people:orientation overview' %}" role="button">Orienation in English</a></p>
<p><a class="btn btn-primary btn-lg center-block" href="{% url 'people:spanish orientation overview' %}" role="button">Orientación en Español</a></p>

{% endblock content %}