<h1>Thank you for your interest in Delgado AEP!</h1>

<p>We're located at Delgado City Park Campus:</p>
<ul>
    <li>(615 City Park Ave.) in Building 7, Marvin Thames Hall, Room 170.</li>
    <li>We're open Monday-Thursday 8AM-4PM and Friday 9AM-1PM.</li>
</ul>

<h2>Important Steps for 16-17 Year Old Applicants</h2>
<p>Since you are 16 or 17 years old, you will need to complete a few steps to finalize your enrollment in our program:</p>

<ol>
    <li>
        <p>You will need to get the following form completed by your current high school or the school board in the parish you reside in. (Printed copies are available in our office.)</p>
        <p><a href="https://campussuite-storage.s3.amazonaws.com/prod/1558543/91b64910-2d2e-11e8-8c09-0a7155647e8a/2278562/bf9e904a-cae1-11eb-a620-0e9e8dd162af/file/2021_AGE_WAIVER_RequestRev3.pdf" target="_blank">Age Waiver Request Form</a></p>
        <p class="important">This form must be submitted to our office within five business days of it being signed.</p>
        
        <p>Local School Board Offices:</p>
        <ul>
            <li>Jefferson Parish School Board: 501 Manhattan Blvd. Harvey, LA 504-349-7600</li>
            <li>Orleans Parish School Board: 3520 Gen. De Gaulle Dr. New Orleans, LA 504-304-3520</li>
        </ul>
    </li>
    
    <li>
        <p>Once the form is completed, either the parent or minor must bring the form to the Delgado AEP City Park office, along with:</p>
        <ul>
            <li>The minor's birth certificate</li>
            <li>Social security number card</li>
            <li>ID of guardian</li>
        </ul>
    </li>
    
    <li>
        <p>Once all of the required documentation has been received and it is approved by our department director, we can move forward with the enrollment process.</p>
    </li>
    
    <li>
        <p>Please read the additional information in this FAQ</p>
        <ul>
            <li><a href="https://drive.google.com/file/d/1fgsrz9i7KhXGm-h64sq2ECLi1-eFF2Iu/view?usp=sharing">FAQ-Frequently Asked Questions for 16-17 year old students of Delgado AEP</a></li>
        </ul>
    </li>
</ol>

<h2>What to expect next:</h2>
<ol>
    <li>You will bring the form and your identification to our office.</li>
    <li>We will create a student profile for you.</li>
    <li>You will attend an orientation and testing event.</li>
    <li>Then you will start classes.</li>
</ol>

<p>If you have any questions, please don't hesitate to contact us. We look forward to helping you achieve your educational goals!</p>
