<table border="1">
	<tr>
		<td>
			<p><a href="https://www.google.com/url?q=https://docs.google.com/document/d/1KiLS4DHgavGfmGZceJGENEx4MmfEco-12T2cmTN05IQ/edit&amp;sa=D&amp;source=editors&amp;ust=1695342094445465&amp;usg=AOvVaw2nEDw0bKj7ab9UgvVH_Of0">Leer en espa&ntilde;ol</a></p>
		</td>
		<td>
			<p><a href="https://www.google.com/url?q=https://docs.google.com/document/d/e/2PACX-1vR1RggnsIT1OGrdB9N1bcAu5lFX3ZBQTpmuT9mb9ZZAxowx6KcttSwtfwt6aeTQvbLFY-Yvwdkf_UDb/pub&amp;sa=D&amp;source=editors&amp;ust=1695342094446184&amp;usg=AOvVaw3VWTH8AfczZjmFVFzORJYn">&#1575;&#1602;&#1585;&#1571; &#1576;&#1575;&#1604;&#1604;&#1594;&#1577; &#1575;&#1604;&#1593;&#1585;&#1576;&#1610;&#1577;</a></p>
		</td>
		<td>
			<p><a href="https://www.google.com/url?q=https://docs.google.com/document/d/e/2PACX-1vS_VochHO1_MGq4sXVHfKfjXJEpqH2Vpv2DsuIK3BL6GbmfB1elYDYZ2_V5V6HRtnOlFPSQlO8k9smq/pub&amp;sa=D&amp;source=editors&amp;ust=1695342094446724&amp;usg=AOvVaw3Ie987hbotvncdQDnIig-N">&#1063;&#1080;&#1090;&#1072;&#1090;&#1100; &#1087;&#1086; &#1088;&#1091;&#1089;&#1089;&#1082;&#1080;</a></p>
		</td>
		<td>
			<p><a href="https://www.google.com/url?q=https://docs.google.com/document/d/e/2PACX-1vSHlrXZnr_iKHH9D-zunhMz0gfYxTJTjkZH0Gualbp7sIj0MISuxw40Tx-wLc9Syct_mfDdrDIJxoBX/pub&amp;sa=D&amp;source=editors&amp;ust=1695342094447302&amp;usg=AOvVaw1mjzx2l7MFPyrcGLq87HWu">&#20013;&#25991;&#38405;&#35835;</a></p>
		</td>
	</tr>
	<tr>
		<td>
			<p><a href="https://www.google.com/url?q=https://docs.google.com/document/d/e/2PACX-1vRKvsgDxK3qp7XM-jSVfXNXUrwV9tp6xLdK067tWPSVYuHt3ksg5HebYQPJBuLoJZxWKabv-7EXYlCY/pub&amp;sa=D&amp;source=editors&amp;ust=1695342094447830&amp;usg=AOvVaw2CObzW3MI-N9Us6ftJwmMU">Lire en fran&ccedil;ais</a></p>
		</td>
		<td>
			<p><a href="https://www.google.com/url?q=https://docs.google.com/document/d/e/2PACX-1vRBh-KEBckoqq0c17q84GoBSHtcr0N1e5ixdOWmhOj2AF9fT9XeBkhRUM_Yj5XRbQsNL-jSDHQFvg-w/pub&amp;sa=D&amp;source=editors&amp;ust=1695342094448358&amp;usg=AOvVaw1v1RvVKR9qaKJxNaZh7b_j">&#272;&#7885;c b&#7857;ng ti&#7871;ng Vi&#7879;t</a></p>
		</td>
		<td>
			<p><a href="https://www.google.com/url?q=https://docs.google.com/document/d/e/2PACX-1vRWD7OtSmoorEfgkiPWNQR2L_fRgs7hq-rK7FbuOBhhFtOkCK1-luOawMtHFk0ef-W_VFRPji0dCDiN/pub&amp;sa=D&amp;source=editors&amp;ust=1695342094448897&amp;usg=AOvVaw0TnMDRhwphkchrJIptPQP5">Li an krey&ograve;l</a></p>
		</td>
		<td>
			<p><a href="https://www.google.com/url?q=https://docs.google.com/document/d/e/2PACX-1vTY5vFrD3k2AMC9Z9nCJRW-o-i43OoUxli2Qv0FpDXsjW7yd2qpnAHogcV1una2QHHdH2emXWi0ooCq/pub&amp;sa=D&amp;source=editors&amp;ust=1695342094449434&amp;usg=AOvVaw0MnTgWIxrQrQg1NBE9H89I">Ler em portugues</a></p>
		</td>
	</tr>
	<tr>
		<td>
			<p><a href="https://www.google.com/url?q=https://docs.google.com/document/d/e/2PACX-1vTvaitDJDC8rzfSkwMKF9hjEGCSkBI5bYfqD79Go9eRgws0tuWdUssYsFbwT8OiBc5IC4XD-odW9D4R/pub&amp;sa=D&amp;source=editors&amp;ust=1695342094450063&amp;usg=AOvVaw1_4350X44dZhXGli_VjLmS">&#26085;&#26412;&#35486;&#12391;&#35501;&#12416;</a></p>
		</td>
		<td>
			<p><a href="https://www.google.com/url?q=https://docs.google.com/document/d/e/2PACX-1vQdPu4l7dv_jrUDHVHykJEAbg9xlmtSlpENu3a_JBX1IIoTlAfWgSG7yKKni_7Yp0US_IFQppd-rCGZ/pub&amp;sa=D&amp;source=editors&amp;ust=1695342094450629&amp;usg=AOvVaw1U72lhjqO4VcLMtAt5chm2">&#54620;&#44397;&#50612;&#47196; &#51069;&#44592;</a></p>
		</td>
		<td>
			<p><a href="https://www.google.com/url?q=https://docs.google.com/document/d/e/2PACX-1vSsRYutt48y889T3oRehQYQHxQtz3UfGvC2XSyqf9vyJEqGHwjWe_kneYL-1vycdXVonhybhQ_UaSjR/pub&amp;sa=D&amp;source=editors&amp;ust=1695342094451182&amp;usg=AOvVaw2dZnEmLI8McEGyOtmxU0aO">&#1575;&#1585;&#1583;&#1608; &#1605;&#1740;&#1722; &#1662;&#1681;&#1726;&#1740;&#1722;</a></p>
		</td>
		<td>
			<p><a href="https://www.google.com/url?q=https://docs.google.com/document/d/e/2PACX-1vRdE91DTI8jEkqFNQ0OW1MyrGRSLcGRyhbnmpnggf4-P42Bd0MYKzrebnA9a8dKvN2zGhWAm11T5xOn/pub&amp;sa=D&amp;source=editors&amp;ust=1695342094451706&amp;usg=AOvVaw0fCCK0_pqGzR2xHUzGLPYD">Basahin sa Filipino</a></p>
		</td>
	</tr>
</table>
<p>Hello {{ student }}</p>
<p>This message is to inform you that you have successfully completed the Delgado Adult Education Program Orientation website!</p>
<p>Congratulations, <strong>you will <u>never</u> have to register or complete orientation again,</strong> and you're a step closer to meeting your educational goals -- keep it up!</p>
<p>Your next step is to complete a pre-test</p>
<p>We have two options available for you:
	<ul><strong>
		<li>In-Person Testing</li>
		<li>Online testing</li></strong>
	</ul>
</p>
<br>
<h3>IN-PERSON TESTING</h3>
<p>You can test in-person at several of our locations:
	<ul>
		<li>City Park - <a href="https://www.google.com/url?q=https://www.google.com/search?q%3D615%2Bcity%2Bpark%2Bavenue%26oq%3D615%2Bcit%26aqs%3Dchrome.0.0i355i457j46j69i57j0j0i22i30l4.1743j0j7%26sourceid%3Dchrome%26ie%3DUTF-8%23&amp;sa=D&amp;source=editors&amp;ust=1695342094454154&amp;usg=AOvVaw0VjVyHy8n7toFTwe10KCVp">615 City Park Ave. New Orleans, LA</a>
		</li>
		<li>West Bank - <a href="https://www.google.com/url?q=https://www.google.com/search?sxsrf%3DALeKk00K9H4l5a-WcPrXpA4ZdnxImu7Opw%253A1607590884969%26ei%3D5OPRX6DoOsLc5gLViZzgCA%26q%3D2600%2BGeneral%2BMeyer%2BAveNew%2BOrleans%252C%2BLA%2B70114%26oq%3D2600%2BGeneral%2BMeyer%2BAveNew%2BOrleans%252C%2BLA%2B70114%26gs_lcp%3DCgZwc3ktYWIQAzIJCAAQyQMQFhAeOgQIABBHUKVhWKVhYMNoaABwBHgAgAFhiAFhkgEBMZgBAKABAqABAaoBB2d3cy13aXrIAQjAAQE%26sclient%3Dpsy-ab%26ved%3D0ahUKEwig6pHdhsPtAhVCrlkKHdUEB4wQ4dUDCA0%26uact%3D5%23&amp;sa=D&amp;source=editors&amp;ust=1695342094455019&amp;usg=AOvVaw087KxJg9cQat6CXpX_eC94">2600 General Meyer Ave. New Orleans, LA</a>
		</li>
	</ul>
</p>
<p>We accept walk-ins for testing at our City Park office (615 City Park Avenue, Building 7, Room 170) Monday-Thursday from 10-1, no appointment necessary.</p>
<h3>ONLINE TESTING</h3>
<p>In order to test online at home, you need:
	<ul>
		<li>a working internet connection</li>
		<li>a computer -- <em>smart phones &amp; tablets do <u>not</u> work with the testing software</em></li>
		<li>a web camera</li>
	</ul>
</p>
<br>
<p><h3>HOW TO SCHEDULE YOUR APPOINTMENT</h3>
	<strong>
	<ol>
		<li>Watch this video:<a href="https://www.google.com/url?q=https://youtu.be/KaKpqtKIhxI&amp;sa=D&amp;source=editors&amp;ust=1695342094456687&amp;usg=AOvVaw3a-gmn7mhvTOxymQtIo5Ww">https://youtu.be/KaKpqtKIhxI</a></li>
		<li>After watching the video, go to this link: <a href="https://www.google.com/url?q=https://app.10to8.com/book/dccaep/&amp;sa=D&amp;source=editors&amp;ust=1695342094457169&amp;usg=AOvVaw1eDADZrzEYs7Sky7B6LYTg">https://app.10to8.com/book/dccaep/</a></li>
	</ol>
	</strong>
</p>
<p><strong>These links are only for you to use, so please do not share them with anyone.</strong></p>
<p >Thank you for reading through this email and helping us to complete the testing process.</p>
<p>Wishing you safety &amp; health,</p>
<p>DCCAEP</p>