
<p>Hi, {{student}}</p>
<p>Here are your classes for next session.</p>

{% for section in current %}
	<p><strong>Class Title:</strong> {{ section.title }}<br>
    <strong>Teacher Name:</strong> {{ section.teacher }}<br>
    {% if section.room != '' %}
    <strong>Class Location:</strong> {{ section.site }}, Room {{ section.room }}<br>
    {% else %}
    <strong>Class Location:</strong> {{ section.site }}<br>
    {% endif %}
    {% if section.program != 'ELRN'%}
        <strong>Class Days:</strong> {{ section.get_days_names }}<br>
        <strong>Class Times:</strong> {{ section.start_time }}-{{ section.end_time }}<br>
    {% endif %}
    <strong>Class Dates:</strong> Classes start the week of {{ section.start_date }} and end the week of {{ section.end_date }}</p>
<p><br></p>
{% endfor %}
<p>To make changes to this schedule call 504-671-5434 or email us at coach@elearnclass.org.</p>
<p>See you in class!</p>
<p>~Delgado Adult Education</p>