<p>Hi {{student}},</p>
<p>This message is a reminder for your upcoming test appointment with 
Delgado Adult Education.</p>
<br>
<p>You signed up for testing on {{date|date:'m-d-Y'}} that will begin at {{time|time:"I:M p"}}.</p>
<p>Your testing will take place at the {{site}} campus, and you can report to {{room}} to check-in.</p>
<br>
<p><strong>Your attendance of this event is required in order to create a schedule and begin classes.</strong></p>
<p>If you have any questions or a problem with your appointment please <a href='https://docs.google.com/forms/d/e/1FAIpQLSc6Z-Zsq9zC962kd_3el0WoPTwCih-3-Qjxwq2HebvOXjRiYg/viewform'>click here for assistance</a>.</p>
<p>Si tiene preguntas o problemas con su cita, haga <a href='https://docs.google.com/forms
/d/e/1FAIpQLSc6Z-Zsq9zC962kd_3el0WoPTwCih-3-Qjxwq2HebvOXjRiYg/
viewform'>clic aquí para obtener ayuda</a></p>
<br>
<p>Thank you,</p>
<p>The Adult Education Program</p>
<p>Delgado Community College</p>